<!DOCTYPE html>
<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>PAMS: Postgraduate Management System</span>
    <span flex></span>
  </div>
   <pams-student-enrollment-application-list
            [enrollmentApplication]="enrollmentApplication$ | async">
        </pams-student-enrollment-application-list>

   <pams-student-enrollment-application-item
          [enrollmentApplication]="enrollmentApplication$ | async"
           [enrollmentApplicationItems]="enrollmentApplicationItems$ | async">
        </pams-student-enrollment-application-item>
</td-layout-nav>
