<md-card-title>Course Form</md-card-title>
<md-card-subtitle>Create New Course</md-card-subtitle>
<md-dialog-content>
  <form [formGroup]="createForm" novalidate>

     <div fxLayout fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px" class="inset">
      <md-input-container flex><input mdInput #code
                                      placeholder="Code" formControlName="code" flex/></md-input-container>
      <div class="error"
           *ngIf="createForm.get('code').invalid && createForm.get('code').touched">
        Code should be at least {{minLength}} characters!
      </div>

      <md-input-container fxFlex="calc(100%-25px)"><input
        mdInput #title placeholder="TitleEn (English)
        " formControlName="titleEn" flex/>
      </md-input-container>
      <div class="error"
           *ngIf="createForm.get('titleEn').invalid && createForm.get('titleEn').touched">
        titleEn should be at least {{minLength}} characters!
      </div>


      <md-input-container fxFlex="calc(100%-25px)"><input
        mdInput #title placeholder="TitleMs (Malay)" formControlName="titleMs" flex/>
      </md-input-container>
      <div class="error"
           *ngIf="createForm.get('titleMs').invalid && createForm.get('titleMs').touched">
        titleMs should be at least {{minLength}} characters!
      </div>


      <md-input-container fxFlex="calc(100%-25px)" mdTooltip="Please insert credit">
          <input mdInput placeholder="Credit" formControlName="credit" type="number"/>
        </md-input-container>
        <div class="tc-red-600" *ngIf="createForm.get('credit').invalid && createForm.get('credit').touched">
          Credit should be in number type
        </div>

      <pams-course-status-select [placeholder]="'Status'" required
                                 md-maxlength="10" [innerFormControl]="createForm.controls.status"
                                 fxFlex="calc(50%-25px)" class="pad-bottom">
      </pams-course-status-select>
      <div class="tc-red-600" *ngIf="createForm.get('status').invalid && createForm.get('status').touched">
        Please add status!
      </div>
   

   
      <pams-course-classification-select
        [placeholder]="'Select classification'" required md-maxlength="10"
        [innerFormControl]="createForm.controls.classification"
        fxFlex="calc(100%-25px)" class="pad-bottom">
      </pams-course-classification-select>
      <div class="tc-red-600" *ngIf="createForm.get('classification').invalid && createForm.get('classification').touched">
        Please add your classification!
      </div>
   
  
      <pams-faculty-select [placeholder]="'Select faculty'"
                           [innerFormControl]="createForm.controls.faculty"
                           fxFlex="calc(100%-25px)" class="pad-bottom"></pams-faculty-select>
       <div class="tc-red-600" *ngIf="createForm.get('faculty').invalid && createForm.get('faculty').touched">
        Please add your faculty!
      </div>
    </div>
  </form>
</md-dialog-content>
<md-dialog-actions align="end">
  <button md-raised-button color="accent" [disabled]="createForm.invalid"
          (click)="save(createForm.value, createForm.valid)">Save
  </button>
</md-dialog-actions>
