<md-card>
  <md-card-title>CURRICULUM</md-card-title>
  <md-card-subtitle>List of curriculum</md-card-subtitle>

  <md-divider></md-divider>
  <md-card-content>
    <!--Tab Section Here-->
    <md-tab-group>
      <md-tab label="Curriculum Detail"><br>

        <div>Code : {{curriculum.code}}</div>
        <br>
        <div>Description : {{curriculum.description}}</div>
        <br>


      </md-tab>

      <md-tab label="Information"><br>
        <div>Description Details Of The Curriculum</div>
        <br>
        <div>Code : {{curriculum.code}}</div>
        <br>
        <div>Curriculum :{{curriculum.description}}</div>
      </md-tab>
    </md-tab-group>

  </md-card-content>
</md-card>
