<md-card>
  <md-card-title>Student Personal Info</md-card-title>
  <md-card-subtitle>Page under developments</md-card-subtitle>

  <md-divider></md-divider>

  <md-card-content>
    <pams-student-profile-list
    [student]="student$ | async"
    [addressess]="addressess$ | async"
    [guarantors]="guarantors$ | async"
    [guardians]="guardians$ | async"
    [contacts]="contacts$ | async"
    [enrollments]="enrollments$ | async"
    >
    </pams-student-profile-list>

  </md-card-content>

</md-card>