

<pams-student-profile-list 
    [student]="student$ | async"
	[addressess]="addressess$ | async" [guarantors]="guarantors$ | async"
	[guardians]="guardians$ | async" [contacts]="contacts$ | async"
	[enrollments]="enrollments$ | async" [admissions]="admissions$ | async"
	[graduationApplications]="graduationApplications$ | async"
	[graduations]="graduations$ | async"
	[admissionApplications]="admissionApplications$ | async"
	[admissions]="admissions$ | async">
</pams-student-profile-list>



