<md-card>
  <div toolbar-buttons layout="row" layout-align="start center" flex>
    <md-card-title>Lecturer: Student Enrollments </md-card-title>
    <md-chip-list *ngIf="enrollments?.length > 0">
      <md-chip color="accent">{{enrollments?.length}}</md-chip>
    </md-chip-list>
    <span flex></span>
        <span flex>  
        <a href="http://localhost:8080/servlet/report?report=student_status_v1.jrxml&report.pdf&section_code={{section?.code}}" [target]="'_blank'">Enrollment Report </a> |
        <a href="http://localhost:8080/servlet/report?report=class_attendance.jrxml&report.pdf&section_code={{section?.code}}" [target]="'_blank'">Attendance Sheet</a>
        </span>
        <!--  <button (Click)="location.href='http://localhost:8080/servlet/report?report=student_status_v1.jrxml&report.pdf&section_code={{section.code}}'" md-button class="md-icon-button" mdTooltip="View report">
    <md-icon class="md-24 tc-grey-700">description</md-icon>
    </button>  -->
  </div>
  <md-divider></md-divider>
  <md-card-content>
    <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
      <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here"
                     (searchDebounce)="search($event)" [alwaysVisible]="true" flex>
      </td-search-box>
    </div>
    <md-divider></md-divider>
    <td-data-table
      #dataTable
      [data]="filteredData"
      [columns]="columns"
      [sortable]="true"
      [sortBy]="sortBy"
      [sortOrder]="sortOrder"
      (sortChange)="sort($event)">
      <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
        <div layout="row">
          <span flex>{{value}}
          <div></div>
          </span>       
        </div>
      </template>

      <template tdDataTableTemplate="gradeCode.code" let-value="value" let-row="row" let-column="columns.gradeCode.code">
        <div layout="row">
          <div *ngIf="value == null"><font color="red">None</font></div>
           <div *ngIf="value != null">{{value}}</div>       
        </div>
      </template>

      
       <template tdDataTableTemplate="totalScore" let-value="value" let-row="row" let-column="columns.totalScore">
        <div layout="row">
          <div *ngIf="value == null"><font color="red">None</font></div>
           <div *ngIf="value != null">{{value}}</div>       
        </div>
      </template>
      
      <template tdDataTableTemplate="action" let-value="value" let-row="row" let-column="column">
        <div layout="row">
          <a md-button color="accent" class="text-upper"
             [routerLink]="['/secure/term/enrollments', row['id'], 'lecturer-enrollment-detail']"
             mdTooltip="View gradebook info">
            <span>View</span>
          </a>
        </div>
      </template>
    </td-data-table>
    <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
      <h3>No results to display.</h3>
    </div>
    <td-paging-bar #pagingBar [pageSizes]="[5, 10, 15, 20, 30]" [total]="filteredTotal" (change)="page($event)">
      <span td-paging-bar-label hide-xs>Row per page:</span>
      {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
    </td-paging-bar>
  </md-card-content>
</md-card>
