<md-card class="bgc-green-600" flex>
  <md-card-content
    class="text-center">
    <div class="md-display-1">{{section?.code}}</div>
    <div layout="column" layout-padding>
      <div class="md-subhead tc-grey-100">{{section?.offering?.course?.titleEn}}</div>

    </div>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>Report</md-card-title>
  <md-card-subtitle>Reports available on current section</md-card-subtitle>
  <md-divider></md-divider>

  <md-nav-list flex dense>
   
     <a href="http://localhost:8080/servlet/report?report=class_attendance_status.jrxml&report.pdf&section_code={{section?.code}}" [target]="'_blank'">  
    <md-list-item >
      <md-icon md-list-avatar>description</md-icon>
     <h4 md-line>Student Status Report </h4>
      <p md-line>View student status report {{section?.code}}</p> 
    </md-list-item></a>
    
     <a href="http://localhost:8080/servlet/report?report=class_attendance.jrxml&report.pdf&section_code={{section?.code}}" [target]="'_blank'">  
    <md-list-item >
      <md-icon md-list-avatar>description</md-icon>
     <h4 md-line>Class Attendance Report </h4>
      <p md-line>View class attendance report {{section?.code}}</p> 
    </md-list-item></a>
    
    <md-divider></md-divider>
  </md-nav-list>
</md-card>
