<!-- Basic Card -->
<td-layout-manage-list>
    <md-nav-list list-items><!-- class="text-upper" -->
    <!--  <a md-list-item (click)="myProfile()" color="accent"   >
         <md-icon>create</md-icon>
         <span>My Pofile</span>
      </a> -->
        <a md-list-item (click)="insertGradebook()" color="accent"   >
         <md-icon>create</md-icon>
         <span>Insert gradebooks</span>
      </a> 
      <md-divider></md-divider>
      <md-divider></md-divider>
    </md-nav-list>
     <div toolbar-buttons layout="row" layout-align="start center" flex>
      <span flex>Staff Personal Information</span>    
    </div>
    <md-card class="">
    
      <md-card-content>
<!-- start lecturer page -->
 <!-- <md-tab-group>
        <md-tab label="Staff Personal Information"> -->
          <div layout="column" layout-gt-md="row" class="insert">
            <div flex-gt-md="20">
             <!--  <img src="http://localhost:4200/assets/ico/lecturer/{{lecturer?.identityNo}}.jpg" width="120" height="150"> -->
             <img src="http://ecomm.umk.edu.my/servlet/ImagePhoto?imageid={{lecturer?.identityNo}}&type=1" width="120" height="150">
            
            </div>
            <div flex-gt-md="35">
              <b>Staff ID</b> : {{lecturer?.identityNo}}<br/><br/>
              <b>Name</b> : {{lecturer?.name}}<br/><br/>
              <b>Email</b> :{{lecturer?.email}}<br/><br/>
              <b>Phone</b> : {{lecturer?.phone}}<br/><br/>
              <b>Mobile</b> : {{lecturer?.mobile}}
            </div>
            <div flex-gt-md="40">
              <b>Fax</b> :  {{lecturer?.fax}}<br/><br/>
              <b>Actor Type</b> :  {{lecturer?.actorType}}<br/><br/>
              <b>Program</b> :  {{lecturer?.program?.titleEn | uppercase}}<br/><br/>
              <b>Program Level</b> :  {{lecturer?.program?.level?.description}}<br/><br/>
              <b>Faculty</b> :  {{lecturer?.program?.faculty?.description}}<br/><br/>
            </div>
          </div>
          <md-divider></md-divider>
        <md-divider></md-divider>
        
         <!-- start sections by lecturer -->
         <md-card>
  <div toolbar-buttons layout="row" layout-align="start center" flex>
    <md-card-title>Section</md-card-title>
    <md-chip-list *ngIf="appointments?.length > 0">
      <md-chip
        color="accent">{{appointments?.length}}
      </md-chip>
    </md-chip-list>
    <span flex></span>
   </div>
  <md-divider></md-divider>
    <td-expansion-panel label="Section Information" class="bgc-light-blue-400">
          <div class="md-padding" class="bgc-light-blue-50">
            <md-card>
            
                <md-divider></md-divider>
               
  <md-card-content>  
   <td-data-table
        [data]="appointments"
        [columns]="columns"
        [sortBy]="summary"
        [sortOrder]="ASC"
        [sortable]="false"
        [multiple]="true"
        [selectable]="false"
        [(ngModel)]="selectedRows"
        (rowSelect)="selectRow($event)"
        (selectAll)="selectAllRows($event)" dense>
        <template	tdDataTableTemplate="key" let-value="value" let-row="row"	let-column="column">
    <div layout="row">
        <span flex>{{value | uppercase}}</span>
    </div>
    </template> 
   
    <template tdDataTableTemplate="action" let-value="value" let-row="row" let-column="column">
        <div layout="row">
          <a md-button color="accent" class="text-upper" mdTooltip="View section info" 
          [routerLink]="['/secure/term/sections', row.section.canonicalCode, 'lecturer-section-detail']"><!--  [routerLink]="['/secure/term/sections', row.section.canonicalCode, 'lecturer-section-detail']" -->
            <span>View</span>
          </a>
        </div>
      </template>
    </td-data-table> 
   </md-card-content>
              </md-card>
            </div>
          </td-expansion-panel>
     </md-card>
         <!-- end sections by lecturer --> 
         
          <!-- start supervisions by lecturer -->
         <md-card>
  <div toolbar-buttons layout="row" layout-align="start center" flex>
    <md-card-title>Supervision</md-card-title>
    <md-chip-list *ngIf="admissionApplications?.length > 0">
      <md-chip
        color="accent">{{admissionApplications?.length}}
      </md-chip>
    </md-chip-list>
    <span flex></span>
   </div>
  <md-divider></md-divider>
    <td-expansion-panel label="Supervision Information" class="bgc-light-blue-400">
          <div class="md-padding" class="bgc-light-blue-50">
            <md-card>
            
                <md-divider></md-divider>
               
  <md-card-content>  
   <td-data-table
        [data]="admissionApplications"
        [columns]="columnAddmissionApplication"
        [sortBy]="summary"
        [sortOrder]="ASC"
        [sortable]="false"
        [multiple]="true"
        [selectable]="false"
        [(ngModel)]="selectedRows"
        (rowSelect)="selectRow($event)"
        (selectAll)="selectAllRows($event)" dense>
        <template	tdDataTableTemplate="key" let-value="value" let-row="row"	let-column="column">
    <div layout="row">
        <span flex>{{value | uppercase}}</span>
    </div>
    </template> 
    <template tdDataTableTemplate="action" let-value="value" let-row="row" let-column="column">
        <div layout="row">
         <a md-button color="accent" class="text-upper" mdTooltip="View admission application info" [routerLink]="['/secure/profile/advisory-detail', row.student.identityNo]"><!--  [routerLink]="['/secure/term/sections', row.section.canonicalCode, 'lecturer-section-detail']" -->
            <span>View</span>
          </a>
        </div>
      </template>
    </td-data-table> 
   </md-card-content>
              </md-card>
            </div>
          </td-expansion-panel>
     </md-card>
         <!-- end supervision by lecturer --> 
         
         
        <!-- </md-tab>
      </md-tab-group> -->
  <!-- end lecturer page -->
      </md-card-content>
    </md-card>
</td-layout-manage-list>
