<md-card class="bgc-green-600" flex>
  <md-card-content
    class="text-center">
    <div class="md-display-1">{{offering?.program?.level?.description}}</div>
    <div layout="column" layout-padding>
      <div class="md-subhead tc-grey-100">{{offering?.course?.status}}</div>

    </div>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>Action</md-card-title>
  <md-card-subtitle>Actions available on current offering</md-card-subtitle>
  <md-divider></md-divider>

  <md-nav-list flex dense>

    <md-list-item (click)="updateDialog()">
      <md-icon md-list-avatar>done_all</md-icon>
      <h4 md-line>Edit Offering {{offering?.code}} </h4>
      <p md-line>Edit this offering </p>
    </md-list-item>
    <md-list-item [routerLink]="['/secure/term/offerings']">
      <md-icon md-list-avatar>done_all</md-icon>
      <h4 md-line>Create New Offering</h4>
      <p md-line>Create new offering </p>
    </md-list-item>
    <md-list-item [routerLink]="['/secure/term/offerings', offering.canonicalCode, 'gradebook-detail']">
      <md-icon md-list-avatar>done_all</md-icon>
      <h4 md-line>Gradebook</h4>
      <p md-line>View gradebook</p>
    </md-list-item>
    <md-list-item (click)="calculateGradebooks()">
      <md-icon md-list-avatar>add_circle</md-icon>
      <h4 md-line>Calculate Gradebook</h4>
      <p md-line>Calculate gradebook</p>
    </md-list-item>
    <md-list-item (click)="calculateCGPA()">
      <md-icon md-list-avatar>add_circle</md-icon>
      <h4 md-line>Calculate GPA</h4>
      <p md-line>Calculate GPA</p>
    </md-list-item>
    <md-divider></md-divider>
  </md-nav-list>
</md-card>
