<md-card>
  <div toolbar-buttons layout="row" layout-align="start center" flex>
    <md-card-title>Assessments
    </md-card-title>
    <md-chip-list *ngIf="assessments?.length > 0">
      <md-chip color="accent">{{assessments?.length}}</md-chip>
    </md-chip-list>
    <span flex></span>
     <button md-button class="md-icon-button" (click)="createDialog()">
       <md-icon class="md-24 tc-grey-300" [ngClass]="{'tc-grey-700': selectedRows.length === 0}">add</md-icon>
     </button>
    <!-- <button md-button class="md-icon-button" (click)="edit(selectedRows[0])" [disabled]="selectedRows.length != 1">
    <md-icon class="md-24 tc-grey-300" [ngClass]="{'tc-grey-700': selectedRows.length === 1}">edit</md-icon>
    </button>
     <button md-button class="md-icon-button" (click)="deleteAssessment(selectedRows[0])"
             [disabled]="selectedRows.length != 1">
       <md-icon class="md-24 tc-grey-300" [ngClass]="{'tc-grey-700': selectedRows.length === 1}">delete</md-icon>
     </button> -->
  </div>
  <md-divider></md-divider>
  <md-card-content>
    <td-data-table
      [data]="assessments"
      [columns]="columns"
      [sortBy]="summary"
      [sortOrder]="ASC"
      [sortable]="false"
      [multiple]="true"
      [selectable]="true"
      [(ngModel)]="selectedRows"
      (rowSelect)="selectRow($event)"
      (selectAll)="selectAllRows($event)"
      dense>
      <template tdDataTableTemplate="assessmentType" let-value="value" let-row="row" let-column="column">
        <div layout="row">
          <span flex>{{value | assessmentTypePipe }}</span>
        </div>
      </template>
      <template tdDataTableTemplate="assessmentCategory" let-value="value" let-row="row" let-column="column">
        <div layout="row">
          <span flex>{{value | assessmentCategoryPipe }}</span>
        </div>
      </template>
      <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
        <div layout="row">
          <span flex>{{value}}</span>
        </div>
      </template>
      <template tdDataTableTemplate="action" let-value="value" let-row="row"
                let-column="column">
        <div layout="row">
           <button md-icon-button [md-menu-trigger-for]="menu1" mdTooltip="Select assesssment actions">
             <md-icon>more_vert</md-icon>
           </button>
           <md-menu x-position="before" #menu1="mdMenu">
             <!-- <button md-menu-item [routerLink]="['/secure/term/assessments', offering.canonicalCode, row['id']]">View assesssment</button>
             [routerLink]="['/secure/term/offerings', offering.canonicalCode, 'assessment-detail']" -->
             <button md-menu-item (click)="updateAssessment(row, true)">Update assesssment</button>
             <button md-menu-item (click)="deleteAssessment(row)">Delete assesssment</button>
           </md-menu>
        </div>
      </template>
    </td-data-table>
  </md-card-content>
</md-card>
