<md-card>
  <md-card-title>{{subject?.id| uppercase}}</md-card-title>
  <md-card-subtitle>{{subject?.id}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <!--Tab Section Here-->
    <md-tab-group>
      <md-tab label=" subject Detail"><br>
        <div>Id : {{subject?.id | uppercase}}</div>
        <br>
        <div>Ordinal : {{subject?.ordinal | uppercase}}</div>
        <br>
        <div>SubjectType : {{subject?.subjectType | uppercase}}</div>
        <br>
      </md-tab>
      <md-tab label="Curriculum Information">
        <br>
        <div>Code : {{subject?.curriculum?.code}}</div>
        <br>

      </md-tab>
    </md-tab-group>
    
  </md-card-content>
   <md-card-actions layout-align="end center">
    </md-card-actions>
</md-card>
