<!-- Basic Card -->
<md-card>
  <md-card-title>{{course?.titleMs}}</md-card-title>
  <md-card-subtitle>{{course?.code}}</md-card-subtitle>
  <md-card-subtitle>{{course?.titleMs}}</md-card-subtitle>
  <md-card-subtitle>{{course?.titleEn}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <!--Tab Section Here-->
    <md-tab-group>
      <md-tab label=" Detail"><br>
        <div>Code : {{course?.code}}</div>
        <br>
        <div>Title(MS) : {{course?.titleMs}}</div>
        <br>
        <div>Title(EN) : {{course?.titleEn}}</div>
        <br>
      </md-tab>
      <md-tab label="Information">

      </md-tab>
    </md-tab-group>
  </md-card-content>
  <md-divider></md-divider>
</md-card>
