<md-card>
  <md-card-title>Action</md-card-title>
  <md-card-subtitle>Actions available on current course</md-card-subtitle>
  <md-divider></md-divider>

  <md-nav-list flex dense>

    <md-list-item (click)= "editorDialog()">
      <md-icon md-list-avatar>done_all</md-icon>
      <h4 md-line>Update</h4>
      <p md-line>Update this course</p>
    </md-list-item>

    <md-list-item (click)= "activate()">
      <md-icon md-list-avatar>done_all</md-icon>
      <h4 md-line>Activate</h4>
      <p md-line>Activate this course</p>
    </md-list-item>

    <md-list-item (click)= "deactivate()">
      <md-icon md-list-avatar>gavel</md-icon>
      <h4 md-line>Deactivate</h4>
      <p md-line>Deactivate this course</p>
    </md-list-item>


    <md-divider></md-divider>
    <h3 md-subheader>Planner Menu</h3>

    <md-list-item [routerLink]="['/planner/academic-sessions']" > <md-icon md-list-avatar>menu</md-icon>
      <h4 md-line>Academic Session</h4>
      <p md-line>List of academic session</p>
    </md-list-item>

    <md-list-item [routerLink]="['/planner/faculties']"> <md-icon md-list-avatar>menu</md-icon>
      <h4 md-line>Faculty</h4>
      <p md-line>List of faculties</p>
    </md-list-item>

     <md-list-item [routerLink]="['/planner/programs']">
              <md-icon md-list-avatar>menu</md-icon>
              <h4 md-line>Program</h4>
              <p md-line>List of programs</p>
            </md-list-item>

    <md-list-item [routerLink]="['/planner/cohorts']"> <md-icon md-list-avatar>menu</md-icon>
      <h4 md-line>Cohorts</h4>
      <p md-line>List of cohorts</p>
    </md-list-item>

 <md-list-item [routerLink]="['/planner/curriculums']"> <md-icon md-list-avatar>menu</md-icon>
      <h4 md-line>Curriculums</h4>
      <p md-line>List of curriculums</p>
    </md-list-item>
  </md-nav-list>
</md-card>
