<md-card>
  <md-card-title>{{course?.titleEn | uppercase}}</md-card-title>
  <md-card-subtitle>{{course?.code}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <!--Tab Section Here-->
    <md-tab-group>
      <md-tab label=" Course Detail"><br>
        <div>Code : {{course?.code | uppercase}}</div>
        <br>
        <div>Title(Ms) : {{course?.titleMs | uppercase}}</div>
        <br>
        <div>Title(En) : {{course?.titleEn | uppercase}}</div>
        <br>
      </md-tab>
      <md-tab label="Faculty Information">
        <br>
        <div>Code : {{course?.faculty?.code}}</div>
        <br>
        <div>Short Name : {{course?.faculty?.name}}</div>
        <br>
        <div>Description : {{course?.faculty?.description}}</div>
        <br>

      </md-tab>
    </md-tab-group>
    
  </md-card-content>
   <md-card-actions layout-align="end center">
    </md-card-actions>
</md-card>
