<!-- Basic Card -->
<md-card>
  <md-card-title>{{course.code}}</md-card-title>
  <md-card-subtitle>{{course.code}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <!--Tab Section Here-->
    <md-tab-group>
      <md-tab label=" Detail"><br>

        <div>Id : {{course.id}}</div>
        <br>
        <div>Code : {{course.code}}</div>
        <br>
        <div>Title : {{course.title}}</div>
        <br>
         <div>TitleMs : {{course.titleMs}}</div>
        <br>
        <div>TitleEn : {{course.titleEn}}</div>
        <br>

      </md-tab>

      <md-tab label="Information">
      

      </md-tab>
    </md-tab-group>

  </md-card-content>
  <md-divider></md-divider>
</md-card>
