<md-card> <md-card-title>COHORT</md-card-title>
 <md-card-subtitle>List of cohort</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
   <!--Tab Section Here-->
     <md-tab-group>
	label="Cohort Detail"> <br>

<div>Curriculum : {{curriculum.id}}</div>
<br>
<div>Program : {{program.id}}</div>
<br>
<div>Session : {{session.id}}</div>
<br>


</md-tab> <md-tab label="Information">

<div>Description details of the cohort</div>
<br>

<div>Code : {{program.faculty.code}}</div>
<br>
<div>Name : {{program.faculty.name}}</div>
<br>
<div>Description : {{program.faculty.description}}</div>
<br>

</md-tab> </md-tab-group> </md-card-content> <md-card-actions layout-align="end center">
<button md-button color="accent" class="text-upper">UPDATE</button>
</md-card-actions></md-card>