<md-card> <md-card-title>COHORT</md-card-title> 
<md-card-subtitle>List of cohort</md-card-subtitle>
 <md-divider></md-divider>
  <md-card-content>
<!--Tab Section Here--> 
<md-tab-group>
<md-tab label="Cohort Detail"> 
<div>Curriculum : {{cohort.id}}</div>
<br>
<div>Program : {{cohort.id}} {{cohort.code}} {{cohort.description}}</div>
<br>
<div>Session : {{cohort.id}}</div>
<br>


</md-tab> 

<md-tab label="Information">

<div>Description Details Of The Cohort</div>
<br>

<div>Code : </div>
<br>
<div>Name : </div>
<br>
<div>Description : </div>
<br>

</md-tab> 
</md-tab-group> 

</md-card-content> 
<!-- <md-card-actions layout-align="end center">
<button md-button color="accent" class="text-upper">UPDATE</button>
</md-card-actions> -->
</md-card>