<md-card> <md-card-title>{{cohort?.description}}</md-card-title> 
<md-card-subtitle>{{cohort?.code}}</md-card-subtitle>

 <md-divider></md-divider>
  <md-card-content>
<!--Tab Section Here--> 
<md-tab-group>
<md-tab label="Cohort Detail"> <br>

<div>Code : {{cohort?.code}}</div>
<br>
<div>Description : {{cohort?.description}}</div>
<br>
<div>Classification : {{cohort?.academicClassification}}</div>
<br>


</md-tab> 

<md-tab label="Information Details"><br>

<br>
<div>Code : {{cohort?.code}}</div>
<br>
<div>Curriculum :{{cohort?.description}} </div>
<br>
<div>Elective : {{cohort?.id}}</div>
<br>

</md-tab> 
</md-tab-group> 

</md-card-content> 
<!-- <md-card-actions layout-align="end center">
<button md-button color="accent" class="text-upper">UPDATE</button>
</md-card-actions> -->
</md-card>