<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>PAMS: Postgraduate Management System</span> <span flex></span>
  </div>
  <td-layout-manage-list #list>
    <!-- LEFT MENU -->
    <md-nav-list list-items>

      <a md-list-item [routerLink]="['/secure/term/admission-applications']" mdTooltip="Semester Registration">
        <md-icon>create</md-icon>
        Semester Registration Task
      </a>
      <md-divider></md-divider>
      <a md-list-item [routerLink]="['/secure/term/offerings']" mdTooltip="View offerings">
        <md-icon>create</md-icon>
        Offerings
      </a>

      <a md-list-item [routerLink]="['/secure/term/enrollment-applications']">
        <md-icon>create</md-icon>
        Course Enrollments
      </a>
    </md-nav-list>
    <!-- TOP TOOLBAR -->
    <div toolbar-buttons layout="row" layout-align="start center" flex>
      <span flex>Semester Registration</span>
      {{today | date:'medium'}}
    </div>
    <!-- CONTENT -->
    <md-card class="">
      <md-tab-group [selectedIndex]="0">
        <!-- COMPLETED REGISTRATIONS -->
        <md-tab label="Completed Registration">
          <pams-admission-list [admissions]="admissions$ | async" (view)="viewAdmission($event)"
                               mdTooltip="View admission info">
          </pams-admission-list>
        </md-tab>
        <!-- ARCHIVED REGISTRATIONS -->
        <!-- <md-tab label="Archived Registration">
            <pams-admission-application-list [admissionApplications]="admissionApplications$ | async"
                (view)="viewAdmissionApplication($event)" mdTooltip="View admission application info">
            </pams-admission-application-list>
        </md-tab> -->
      </md-tab-group>
      <md-divider></md-divider>
    </md-card>
    <!-- display admission application list -->
  </td-layout-manage-list>
</td-layout-nav>

