<!-- <h2 md-dialog-title>Create New Faculty</h2> -->
<md-card-title>Faculty Form</md-card-title>
<md-card-subtitle>Create New Faculty</md-card-subtitle>
<md-dialog-content>
  <form [formGroup]="createForm" novalidate>
     <div fxLayout fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px" class="inset">
      <md-input-container fxFlex="calc(100%-25px)"><input mdInput #code
                                      placeholder="Code" formControlName="code" flex/></md-input-container>
      <div class="error" *ngIf="createForm.get('code').invalid && createForm.get('code').touched">
        Code should be at least {{minLength}} characters!
      </div>
  
      <md-input-container fxFlex="calc(100%-25px)">
        <input mdInput
               placeholder="Description"
               formControlName="description"
               flex/>
      </md-input-container>
      <div class="error" *ngIf="createForm.get('description').invalid && createForm.get('description').touched">
        Description should be at least {{minLength}} characters!
      </div>
   
      <md-input-container fxFlex="calc(100%-25px)"><input mdInput #name
                                      placeholder="Name" formControlName="name" flex/></md-input-container>
      <div class="error" *ngIf="createForm.get('name').invalid && createForm.get('name').touched">
        Name should be at least {{minLength}} characters!
      </div>
   
      <md-input-container fxFlex="calc(100%-25px)"><input mdInput #prefix
                                      placeholder="Prefix" formControlName="prefix" flex/>
      </md-input-container>
       <div class="error" *ngIf="createForm.get('prefix').invalid && createForm.get('prefix').touched">
        Prefix should be at least {{minLength}} characters and should be not more than {{maxLength}} characters !
      </div>
  
      <pams-faculty-status-select [placeholder]="'Select Status'"
                                  [innerFormControl]="createForm.controls['status']" fxFlex="calc(100%-25px)">
      </pams-faculty-status-select>
       <div class="tc-red-600" *ngIf="createForm.get('status').invalid && createForm.get('status').touched">
        Please add status!
      </div>
    </div>

  </form>
</md-dialog-content>
<md-dialog-actions align="end">
  <button md-raised-button color="accent" [disabled]="createForm.invalid"
          (click)="save(createForm.value, createForm.valid)">Save
  </button>
</md-dialog-actions>
