<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>PAMS: Postgraduate Academic Management System</span> <span flex></span>
  </div>
  <div md-content flex md-scroll-y>
    <div layout="column" layout-gt-md="row" class="inset">
      <div flex-gt-md="70">
        <!-- DISPLAY ENROLLMENT APPLICATION BY ADMISSION  -->
        <pams-student-enrollment-application-list
          [enrollmentApplication]="enrollmentApplication$ | async">
        </pams-student-enrollment-application-list>
        <md-card class="">
          <pams-student-enrollment-application-item
            [enrollmentApplication]="enrollmentApplication$ | async"
            [enrollmentApplicationItems]="enrollmentApplicationItems$ | async">
          </pams-student-enrollment-application-item>
        </md-card>
      </div>
      <div flex-gt-md="30">
        <!--  <pams-student-enrollment-application-task-detail-action
       [enrollmentApplication]="enrollmentApplication$ | async">
        </pams-student-enrollment-application-task-detail-action> -->
        <md-card>
          <md-card-title>Term Menu</md-card-title>
          <md-card-subtitle>Actions
            available on current section
          </md-card-subtitle>
          <md-divider></md-divider>
          <md-nav-list
            flex dense>
            <md-list-item [routerLink]="['/secure/term/admission-applications']">
              <md-icon md-list-avatar>email</md-icon>
              <h4 md-line>Semester Registration</h4>
              <p md-line>Watch this semester registration</p>
            </md-list-item>
            <md-list-item [routerLink]="['/secure/term/offerings']">
              <md-icon md-list-avatar>email</md-icon>
              <h4 md-line>Offerings</h4>
              <p md-line>Watch this offerings</p>
            </md-list-item>
          </md-nav-list>
        </md-card>
      </div>
    </div>
  </div>
</td-layout-nav>

