<md-card> <md-card-title>ASSESSMENT</md-card-title> <md-card-subtitle>Assessment
Information </md-card-subtitle> <md-divider></md-divider> <md-card-content>
<!--Tab Assessment Here--> <md-tab-group> <md-tab
	label="Assessment Detail">
<br>

<div>Code : {{assessment.code}}</div>
<br>
<div>Canonical Code : {{assessment.canonicalCode}}</div>
<br>
<div>Description : {{assessment.description}}</div>
<br>
<div>Assessment Type : {{assessment.assessmentType}}</div>
<br>

<div>Assessment Category : {{assessment.assessmentCategory}}</div>
<br>


</md-tab> </md-tab-group> </md-card-content> </md-card>



