<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>PAMS: Postgraduate Management System</span>
    <span flex></span>
  </div>

  <td-layout-manage-list #list title="Toolbar Title" logo="path/to/toolbar-logo.svg">
    <md-nav-list list-items dense>
      <h3 md-subheader>Planner</h3>
       <a md-list-item [routerLink]="['/secure/planner/academic-years']">
        <md-icon>label</md-icon>
        Academic Year
      </a>
      <a md-list-item [routerLink]="['/secure/planner/academic-sessions']">
        <md-icon>label</md-icon>
        Academic Session
      </a>
      <a md-list-item [routerLink]="['/secure/planner/faculties']">
        <md-icon>label</md-icon>
        Faculty
      </a>
      <a md-list-item [routerLink]="['/secure/planner/programs']">
        <md-icon>label</md-icon>
        Programs
      </a>
      <a md-list-item [routerLink]="['/secure/planner/courses']">
        <md-icon>label</md-icon>
        Courses
      </a>
      <a md-list-item [routerLink]="['/secure/planner/curriculums']">
        <md-icon>label</md-icon>
        Curriculums
      </a>
       <a md-list-item [routerLink]="['/secure/planner/cohorts']">
        <md-icon>label</md-icon>
        Cohorts
      </a>
      
      <md-divider></md-divider>
      <!-- <h3 md-subheader>Shortcuts</h3> -->
    </md-nav-list>
    <div toolbar-buttons layout="row" layout-align="start center" flex>
       <span flex>Planner Center</span>
        {{today | date:'medium'}}
     <!--  <button md-button class="md-icon-button">
        <md-icon class="md-24">settings</md-icon>
      </button>
      <button md-button class="md-icon-button">
        <md-icon class="md-24">more_vert</md-icon>
      </button> -->
    </div>
      <md-card class="">
      <md-card-title align="left">
      </md-card-title>
      <md-card-subtitle></md-card-subtitle>
      <md-divider></md-divider>
      <div align="center">
        <img src=".\..\assets\img\umk1.jpg" width="80%" height="50%"/>
      </div>
      <md-divider></md-divider>
    </md-card>

  </td-layout-manage-list>
</td-layout-nav>
