<td-layout-nav>
<div toolbar-content layout="row" layout-align="center center" flex>
	<span>PAMS: Postgraduate Management System</span> <span flex></span>
</div>

<div md-content flex md-scroll-y>
	<div layout="column" layout-gt-md="row" class="inset">
		<div flex-gt-md="70">
			<pams-assessment [assessment]="assessment$ | async"></pams-assessment>
		</div> 
		
 <div flex-gt-md="30">
            <md-card> <md-card-title>Action</md-card-title> <md-card-subtitle>Actions
            available on current assessment</md-card-subtitle> <md-divider></md-divider> <md-nav-list
                flex dense> <md-list-item (click)="showDialog()" >
            <md-icon md-list-avatar>assignment_ind</md-icon>
            <h4 md-line>Update Assessment</h4>
            <p md-line>Update this assessment</p>
            </md-list-item> <md-list-item
                (click)="showDialogDel()">
            <md-icon md-list-avatar>done_all</md-icon>
            <h4 md-line>Delete Assessment</h4>
            <p md-line>Delete this assessment</p>
            </md-list-item> <md-divider></md-divider>
            <h3 md-subheader>Term Menu</h3>
            <md-list-item [routerLink]="['/term/admissions']" > <md-icon md-list-avatar>email</md-icon>
            <h4 md-line>Admissions</h4>
            <p md-line>Watch this admissions</p>
            </md-list-item><!--  <md-list-item [routerLink]="['/term/appointments']"> <md-icon md-list-avatar>email</md-icon>
            <h4 md-line>Appointment</h4>
            <p md-line>Watch this appointment</p>
            </md-list-item> --> <!-- <md-list-item [routerLink]="['/term/enrollments']"> <md-icon md-list-avatar>email</md-icon>
            <h4 md-line>Enrollment</h4>
            <p md-line>Watch this enrollment</p>
            </md-list-item> --> <!-- <md-list-item [routerLink]="['/term/sections']"> <md-icon md-list-avatar>email</md-icon>
            <h4 md-line>Section</h4>
            <p md-line>Watch this section</p>
            </md-list-item> --> </md-nav-list> </md-card>
        </div>
	</div>
</div>
</td-layout-nav>
