<md-card> <md-card-title>{{enrollmentApplication?.auditNo}}</md-card-title>
<md-card-subtitle>{{enrollmentApplication?.auditNo}}</md-card-subtitle> <md-divider></md-divider>
<md-card-content> <!--Tab Section Here--> <md-tab-group>
<md-tab label="Section Detail">
<br>
<div layout="column" class="inset">
	<div layout="row" class="pad-bottom">
		<span flex="20">Code</span> <span>{{enrollmentApplication?.auditNo}}</span>
	</div>
	<div layout="row" class="pad-bottom">
		<span flex="20">Capacity</span> <span>{{enrollmentApplication?.auditNo}}</span>
	</div>
	<div layout="row" class="pad-bottom">
		<span flex="20">Section Number</span> <span>{{enrollmentApplication?.auditNo}}</span>
	</div>
</div>
</md-tab>  </md-tab-group> </md-card-content> </md-card>
