 <md-card>
  <md-card-title>{{graduationApplication?.id}}</md-card-title>
  <md-card-subtitle>{{graduationApplication?.id}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <md-tab-group>
      <md-tab label="Graduation Application Information">
        <div layout="column" class="inset">
          <div layout="row" class="pad-bottom">
            <span flex="15">Code </span> <span>{{graduationApplication?.id}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="15">Capacity</span> <span>{{graduationApplication?.id}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="15">Title(MS)</span> <span>{{graduationApplication?.id}}</span>
          </div>
         
        </div>
      </md-tab>
      <md-tab label="Academic Session Information">
        <div layout="column" class="inset">
          <div layout="row" class="pad-bottom">
            <span flex="15">Code</span> <span>{{graduationApplication?.id}}</span>
          </div>
          
        </div>
      </md-tab>
       <md-tab label="Student Information">
        <div layout="column" class="inset">
          <div layout="row" class="pad-bottom">
            <span flex="15">Code</span> <span>{{graduationApplication?.id}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="15">Title(MS)</span> <span>{{graduationApplication?.id}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="15">Title(EN)</span> <span>{{graduationApplication?.id}}</span>
          </div>
        </div>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>





 