 <md-card>
        <md-card-title>Action</md-card-title>
        <md-card-subtitle>Actions available on current application</md-card-subtitle>
        <md-divider></md-divider>
        <md-nav-list dense>
          <md-list-item (click)="register()" *ngIf="enrollmentApplicationItems?.length > 0" >
            <md-icon md-list-avatar>done</md-icon>
            <h4 md-line> Approve this application </h4>
            <p md-line>Approve this {{enrollmentApplicationItems?.length}} course registration</p>
            
          </md-list-item>
          <md-list-item (click)="remove()">
            <md-icon md-list-avatar>remove_circle</md-icon>
            <h4 md-line>Remove</h4>
            <p md-line>Remove this application </p>
          </md-list-item>
        </md-nav-list>
      </md-card>