<md-card>
  <md-card-title>{{enrollmentApplication?.admission?.student?.name}}</md-card-title>
  <md-card-subtitle>{{enrollmentApplication?.referenceNo}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content> <!--Tab Enrollment Application Here-->
    <md-tab-group>
      <md-tab label="Enrollment Application Detail">
        <br>
        <div layout="column" class="inset">
          <div layout="row" class="pad-bottom">
            <span flex="15">Id</span> <span>{{enrollmentApplication?.id}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="15">Description</span> <span>{{enrollmentApplication?.description}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="15">Reference Number</span> <span>{{enrollmentApplication?.referenceNo}}</span>
          </div>
        </div>
      </md-tab>

      <md-tab label="Admission Information">
        <div layout="column" class="inset">
          <div layout="row" class="pad-bottom">
            <span flex="15">Email</span> <span>{{enrollmentApplication?.admission?.student?.email}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="15">Phone</span> <span>{{enrollmentApplication?.admission?.student?.phone}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="15">Cohort</span> <span>{{enrollmentApplication?.admission?.student?.cohort?.code}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="15">Description</span> <span>{{enrollmentApplication?.admission?.student?.cohort?.description}}</span>
          </div>
        </div>
      </md-tab>
       <md-tab label="Academic Session Information">
        <div layout="column" class="inset">
          <div layout="row" class="pad-bottom">
            <span flex="15">Code</span> <span>{{enrollmentApplication?.academicSession?.code}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="15">Description</span> <span>{{enrollmentApplication?.academicSession?.description}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="15">Semester</span> <span>{{enrollmentApplication?.academicSession?.semester}}</span>
          </div> 
        </div>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>
