<md-card>
  <md-card-title><md-icon>home</md-icon>#{{appointment.id}}: {{appointment.id}}</md-card-title>
  <md-card-subtitle>{{appointment.id}} </md-card-subtitle>
  <md-card-actions>
  </md-card-actions>
</md-card>

<md-card>
  <md-card-title>Details info: #{{appointment.id}}: {{appointment.id}}</md-card-title>
  <md-card-subtitle>1. Id No.: {{appointment.id}}</md-card-subtitle>
   <md-card-subtitle>2. Code: {{appointment.id}}</md-card-subtitle>
    <md-card-subtitle>3. CanonicalCode: {{appointment.id}}</md-card-subtitle>
             <button md-button  color="accent" class="text-upper" >UPDATE</button>
  <md-card-actions>
  </md-card-actions>
</md-card>

