<!-- Basic Card -->
<md-card>
  <md-card-title>APPOINTMENTS</md-card-title>
  <md-card-subtitle>List of appoinment</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
  <!--Tab Section Here-->
  <md-tab-group>
  <md-tab label="Staff Detail"><br>

    <div>Name:{{appointment.staff.name}} </div><br>
    <div>ID:{{appointment.staff.identityNo}} </div><br>
    <div>Email:{{appointment.staff.email}} </div><br>
    
   
<!-- <button md-button  color="accent" class="text-upper" >UPDATE</button> -->
  </md-tab>

  <md-tab label="Section Information">
  
    <div>Code:{{appointment.section.code}} </div><br>
    <div>Session:{{appointment.section.session.code}} </div><br>
   <div>Course Offer:{{appointment.section.offering.code}} </div><br>
   <div>Title:{{appointment.section.offering.course.title}} </div><br>
    <div>Faculty:{{appointment.section.offering.course.faculty.description}} </div><br>
   <div>Course Offer:{{appointment.section.offering.program.code}} </div><br> 
   
<!-- <button md-button  color="accent" class="text-upper" >UPDATE</button> -->
  </md-tab>
  </md-tab-group>

  </md-card-content>
  <md-divider></md-divider>



