<!-- Basic Card -->
<md-card> <md-card-title>APPOINTMENTS</md-card-title>
<md-card-subtitle>Section {{appointment?.section?.code}}</md-card-subtitle>
<md-divider></md-divider> <md-card-content>
<!--Tab Section Here--> <md-tab-group> <md-tab
	label="Staff Detail">
<br>
<div layout="column" class="inset">
	<div layout="row" class="pad-bottom">
		<span flex="20">Name</span> <span>{{appointment?.staff?.name}}</span>
	</div>
	<div layout="row" class="pad-bottom">
		<span flex="20">ID</span> <span>{{appointment?.staff?.identityNo}}</span>
	</div>
	<div layout="row" class="pad-bottom">
		<span flex="20">Email</span> <span>{{appointment?.staff?.email}}</span>
	</div>
		<div layout="row" class="pad-bottom">
		<span flex="20">Status</span> <span>{{appointment?.appointmentStatus}}</span>
	</div>
</div>
<!-- <button md-button  color="accent" class="text-upper" >UPDATE</button> -->
</md-tab> <md-tab label="Section Information">
<div layout="column" class="inset">
	<div layout="row" class="pad-bottom">
		<span flex="20">Code</span> <span>{{appointment?.section?.code}}
		</span>
	</div>
	<div layout="row" class="pad-bottom">
		<span flex="20">Course Offer</span> <span>{{appointment?.section?.offering?.code}}</span>
	</div>
	<div layout="row" class="pad-bottom">
		<span flex="20">Faculty</span> <span>{{appointment?.section?.offering?.course?.faculty?.description}}</span>
	</div>
	<div layout="row" class="pad-bottom">
		<span flex="20">Program</span> <span>{{appointment?.section?.offering?.program?.code}}</span>
	</div>
</div>
<!-- <button md-button  color="accent" class="text-upper" >UPDATE</button> -->
</md-tab> </md-tab-group> </md-card-content> <md-divider></md-divider>