<md-card>
  <md-card-title>{{program?.titleMs}}</md-card-title>
  <md-card-subtitle>{{program?.code}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>

    <!--<md-card>
    <div toolbar-buttons layout="row" layout-align="start center" flex>
      <md-card-title>{{program?.code}}</md-card-title>
       <md-card-subtitle>{{program?.titleMs}}</md-card-subtitle><br>-->

    <!--<span flex></span>
    <button md-button class="md-icon-button" (click)="editorDialog()" mdTooltip="Edit program">
      <md-icon class="md-24 tc-grey-700">add</md-icon>
    </button>
    <button md-button class="md-icon-button" (click)="removeProgrsm(row)" mdTooltip="Remove programs">
      <md-icon class="md-24 tc-grey-700">delete</md-icon>
    </button>
  </div>-->
    <!--Tab Section Here-->


    <md-tab-group>

      <md-tab label="Program Detail"><br>
        <div layout="column" class="inset">
          <div layout="row" class="pad-bottom">
            <span flex="15">Code</span>
            <span>{{program?.code}}</span>
          </div>

          <div layout="row" class="pad-bottom">
            <span flex="15">Title(MS)</span>
            <span>{{program?.titleMs}} </span>
          </div>

          <div layout="row" class="pad-bottom">
            <span flex="15">Title(EN)</span>
            <span>{{program?.titleEn}} </span>
          </div>
        </div>
      </md-tab>

      <md-tab label="Faculty Information">
        <div layout="column" class="inset">
        <div layout="row" class="pad-bottom">
          <span flex="15">Code Faculty</span>
          <span>{{program?.faculty?.code}} </span>
        </div>

        <div layout="row" class="pad-bottom">
          <span flex="15">Description</span>
          <span>{{program?.faculty?.description}} </span>
        </div>

        <div layout="row" class="pad-bottom">
          <span flex="15">Short Name </span>
          <span>{{program?.faculty?.name}} </span>
        </div>

        <div layout="row" class="pad-bottom">
          <span flex="15">Status </span>
          <span>{{program?.faculty?.status}} </span>
        </div>
      </div>
      </md-tab>
      
       <md-tab label="Level Detail"><br>
        <div layout="column" class="inset">
          <div layout="row" class="pad-bottom">
            <span flex="15">Code</span>
            <span>{{program?.level?.code}}</span>
          </div>

          <div layout="row" class="pad-bottom">
            <span flex="15">Description</span>
            <span>{{program?.level?.description}} </span>
          </div>

          <div layout="row" class="pad-bottom">
            <span flex="15">Prefix</span>
            <span>{{program?.level?.prefix}} </span>
          </div>
        </div>
      </md-tab>
      
    </md-tab-group>
  </md-card-content>
</md-card>
 

    <!--<template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
        <div layout="row">
          <span flex>{{value}}</span>
        </div>
      </template>
      <template tdDataTableTemplate="action" let-value="value" let-row="row"
                let-column="column">
        <div layout="row">
          <button md-icon-button [md-menu-trigger-for]="menu1" mdTooltip="Select actions">
            <md-icon>more_vert</md-icon>
          </button>
          <md-menu x-position="before" #menu1="mdMenu">
            <button md-menu-item [routerLink]="['/secure/planner/programs', row['id']]">View program</button>
             <button md-menu-item (click)="EditProgram(row)">EditProgram</button>
            <button md-menu-item (click)="removeProgram(row)">Remove Program</button>
          </md-menu>
        </div>
      </template>-->




