    <br/>
    
    <!--COHORT INFORMATION-->
    <md-card>
      <!--<a md-fab color="accent" class="mat-fab-top-right" (click)="editDialog()">
  <md-icon>edit</md-icon>
</a>-->
        <md-card-title>Cohort Information</md-card-title>
        <md-card-content *ngFor="let enrollment of enrollments">
          <div layout="column" layout-gt-md="row" class="insert">
          <div flex-gt-md="50">
            <b>Cohort Code</b><br/>{{enrollment.admission.cohort.code}}
          </div>
          <div flex-gt-md="50">
            <b>Description</b><br/>{{enrollment.admission.cohort.description}}
          </div>
          </div>
        </md-card-content>
    </md-card>

    <br/>

    <!--FACULTY INFORMATION-->
    <md-card>
        <md-card-title>Faculty Information</md-card-title>
        <md-card-content *ngFor="let enrollment of enrollments">
          <div layout="column" layout-gt-md="row" class="insert">
          <div flex-gt-md="50">
            <b>Faculty Code</b><br/>{{enrollment.section.offering.course.faculty.name}}
          </div>
          <div flex-gt-md="50">
            <b>Faculty Name</b><br/>{{enrollment.section.offering.course.faculty.description}}
          </div>
          </div>
        </md-card-content>
    </md-card>

    <br/>

    <!--PROGRAM INFORMATION-->
    <md-card>
        <md-card-title>Program Information</md-card-title>
        <md-card-content *ngFor="let enrollment of enrollments">
          <div layout="column" layout-gt-md="row" class="insert">
          <div flex-gt-md="50">
            <b>Program Code</b><br/>{{enrollment.section.offering.program.code}}
          </div>
          <div flex-gt-md="50">
            <b>Program Title</b><br/>{{enrollment.section.offering.program.title}}
          </div>
          </div>
        </md-card-content>
    </md-card>

    <br/>

    <!--COURSE INFORMATION-->
    <md-card>
        <md-card-title>Course Information</md-card-title>
        <md-card-content *ngFor="let enrollment of enrollments">
          <div layout="column" layout-gt-md="row" class="insert">
          <div flex-gt-md="50">
            <b>Course Code</b><br/>{{enrollment.section.offering.course.code}}
          </div>
          <div flex-gt-md="50">
            <b>Course Title</b><br/>{{enrollment.section.offering.course.title}}
          </div>
          </div>
        </md-card-content>
    </md-card>