<md-card>
  <md-card-title>{{faculty?.code}}</md-card-title>
  <md-card-subtitle>{{faculty?.name}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>

    <md-tab-group>
      <md-tab label="Faculty Detail"><br>
        <div>Code : {{faculty?.code}}</div>
        <br>
        <div>Name : {{faculty?.name}}</div>
        <br>
        <div>Description : {{faculty?.description}}</div>
        <br>
        <div>Prefix : {{faculty?.prefix}}</div>
        <br>
      </md-tab>

      <md-tab label="Information">
        <md-tab label=" Program Information">
          <pams-faculty-program-list [programs]="programs">
          </pams-faculty-program-list>
        </md-tab>
    </md-tab-group>

  </md-card-content>
  <md-divider></md-divider>
</md-card>