<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>PAMS: Postgraduate Management System</span> <span flex></span>
  </div>
<md-card>
  <div md-content flex md-scroll-y>
    <div layout="column" layout-gt-md="row" class="inset">

  <!--     render dynamic table here -->
     <!--{{gradebookMatrices$ | async | json}}-->
   


<div *ngFor="let d of gradebookMatrices$ | async">
			<table border=1>
				<thead>
					<tr>
						<th>Enrollment</th>
						<th>code</th>
						<th>description</th>
						<th>weight</th>
						<th>totalScore</th>
						<th>assessmentType</th>
						<th>assessmentCategory</th>
            <th>score</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{gradebookMatrices.code}}</td>		
						<td>GST5023-FINAL-1</td>
						<td>FINAL 1</td>
						<td>10</td>
						<td>100</td>
						<td>QUIZ</td>
						<td>COURSE_WORK</td>
				    <td>0</td>
        	</tr>
					<tr>
						<td>1</td>
						<td>GST5023-QUIZ-1</td>
						<td>QUIZ 1</td>
						<td>10</td>
						<td>100</td>
						<td>QUIZ</td>
						<td>COURSE_WORK</td>
					  <td>0</td>
          </tr>
					<tr>
						<td>1</td>
						<td>GST5023-QUIZ-2</td>
						<td>QUIZ 2</td>
						<td>10</td>
						<td>100</td>
						<td>QUIZ</td>
						<td>COURSE_WORK</td>
					  <td>0</td>
          
          </tr>
				</tbody>
			</table>

</div>
<!--           <td-data-table
      [data]="gradebookMatrices$ | async "
      [columns]="columns"
      [sortBy]="summary"
      [sortOrder]="ASC"
      [sortable]="false"
      [multiple]="true"
      [selectable]="true" dense>
      <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
        <div layout="row">
          <span flex>{{value}}</span>
        </div>
      </template>

    </td-data-table> -->

    
      <div flex-gt-md="30">
        <md-card>
          <md-card-title>Gradebook</md-card-title>
          <md-card-subtitle>Go to previous menu
          </md-card-subtitle>
          <md-divider></md-divider>
          <md-nav-list
            flex dense>
            <md-list-item [routerLink]="['/term/offerings']">
              <md-icon md-list-avatar>menu</md-icon>
              <h4 md-line>Offerings</h4>
              <p md-line>Watch this offerings</p>
            </md-list-item>

            <md-divider></md-divider>
          </md-nav-list>
        </md-card>
      </div>
    </div>
  </div>
  </md-card>
</td-layout-nav>


