<h2 md-dialog-title>{{edit ? 'Update' : 'Save'}} Section {{_section?.code}} </h2>
<md-dialog-content>
  <form [formGroup]="editorForm" novalidate>

    <div layout="row" class="pad-bottom">
      <md-input-container fxFlex="calc(100%-25px)" flex mdTooltip="Please insert capacity">
        <input mdInput
               placeholder="Capacity"
               formControlName="capacity" type="number" flex/>
      </md-input-container>
      <div class="tc-red-600" *ngIf="editorForm.get('capacity').invalid && editorForm.get('capacity').touched">
        Description should be in number type
      </div>
    </div>

    <div layout="row" class="pad-bottom">
      <md-input-container flex mdTooltip="Please insert ordinal">
        <input mdInput
               placeholder="Section No"
               formControlName="ordinal" type="number" flex/>
      </md-input-container>
      <div class="tc-red-600" *ngIf="editorForm.get('ordinal').invalid && editorForm.get('ordinal').touched">
        Section number should be in number type!
      </div>
    </div>
    <div layout="row" class="pad-bottom">
        <pams-study-mode-select
        [placeholder]="'StudyMode'"
        [innerFormControl]="editorForm.controls['studyMode']">
      </pams-study-mode-select>
    </div>
  </form>
</md-dialog-content>
<md-dialog-actions align="end">
  <button md-raised-button color="accent" (click)="submit(editorForm.value, editorForm.valid)"
          [disabled]="!editorForm.valid">
    {{edit ? 'Update' : 'Save'}}
  </button>

</md-dialog-actions>

