<!-- Basic Card -->
<md-card>
  <md-card-title>{{enrollment.id}}</md-card-title>
  <md-card-subtitle>List of enrollment</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
  <!--Tab Section Here-->
  <md-tab-group>
  <md-tab label="Enrollment Detail"><br>

    <div>Code    : {{enrollment.id}}</div><br>
    <div>Title       : {{enrollment.id}}</div><br>
    <div>TitleMs : {{enrollment.id}}</div><br>
    <div>TitleEn : {{enrollment.id}}</div><br>

  </md-tab>

  <md-tab label="Information">

   <div>Description details of the enrollment</div><br>


  </md-tab>
  </md-tab-group>

  </md-card-content>
  <md-divider></md-divider>



