 <md-card>
          <md-card-title>Action </md-card-title>
          <md-card-subtitle>Actions available on current enrollment</md-card-subtitle>
          <md-divider></md-divider>
          <md-nav-list flex dense>
            <md-list-item [routerLink]="['/term/enrollment-applications']">
              <md-icon md-list-avatar>assignment_ind</md-icon>
              <h4 md-line>Add Course Enrollment</h4>
              <p md-line>Add course to this enrollment</p>
            </md-list-item><!-- [routerLink]="['/appointments-resolve', appointment?.code] -->
                      
            <md-divider></md-divider>
            <h3 md-subheader>Term Menu</h3>
            <md-list-item [routerLink]="['/term/admission-applications/admission-application-center2']">
              <md-icon md-list-avatar>email</md-icon>
              <h4 md-line>Semester Registration</h4>
              <p md-line>List of semester registrations</p>
            </md-list-item>
            <md-list-item [routerLink]="['/term/offerings/student-offering-center']">
              <md-icon md-list-avatar>email</md-icon>
              <h4 md-line>Offerings</h4>
              <p md-line>List of offerings</p>
            </md-list-item>
          
          
          
          </md-nav-list>
        </md-card>