<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>PAMS: Postgraduate Academic Management System</span>
    <span flex></span>
  </div>

  <td-layout-manage-list #list>
    <md-nav-list list-items>
      <a md-list-item (click)="showDialog()">
        <md-icon>create</md-icon>
        Create Graduation Application
      </a>
      <md-divider></md-divider>
       <a md-list-item [routerLink]="['/secure/graduation/graduation-application-lists']">
        <md-icon>label</md-icon>
        List of Graduation Applications
      </a>
        <md-divider></md-divider>
       <a md-list-item >
        <md-icon>label</md-icon>
        List of Graduations
      </a>
     
      <button md-button [mdMenuTriggerFor]="menu" dense>Search by</button>
      <md-menu #menu="mdMenu">
      <button md-menu-item [routerLink]="['/secure/graduation/graduation-lists']" dense>All Graduations</button>
       <button md-menu-item [routerLink]="['/secure/graduation/graduation-session-lists']" dense>Academic session</button>
       </md-menu>
      
      
      
    </md-nav-list>
    <div toolbar-buttons layout="row" layout-align="start center" flex>
      <span flex>Graduation Center</span>
      <button md-button class="md-icon-button">
        <md-icon class="md-24">settings</md-icon>
      </button>
      <button md-button class="md-icon-button">
        <md-icon class="md-24">more_vert</md-icon>
      </button>
    </div>

    <md-card class="">
      <md-card-title>List of graduation applications</md-card-title>
      <md-card-subtitle>List of graduation applications</md-card-subtitle>
      <md-divider></md-divider>

       <pams-graduation-application-list
        [graduationApplications]="graduationApplications$ | async">
        </pams-graduation-application-list> 

      <md-divider></md-divider>

    </md-card>

  </td-layout-manage-list>
</td-layout-nav>
