<md-card>
  <md-card-title>{{admission?.student?.name}}</md-card-title>
  <md-card-subtitle> {{admission?.student?.identityNo}}
  </md-card-subtitle>
 
  <md-divider></md-divider>
  <md-card-content> <!--Tab Section Here-->
    <md-tab-group>
      <md-tab label="Admission Information">

        <div layout="column" class="inset">
          <div layout="row" class="pad-bottom">
            <span flex="15">GPA </span>
            <span>{{admission?.gpa | number : '1.2-2'}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="15">CGPA</span>
            <span>{{admission?.cgpa | number : '1.2-2'}}</span>
          </div>

          <div layout="row" class="pad-bottom">
            <span flex="15">Credit Taken </span>
            <span>{{admission?.creditTaken}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="15">Credit Earned </span>
            <span>{{admission?.creditEarned}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="15">Semester</span>
            <span>{{admission?.ordinal}}</span>
          </div>

        </div>
      </md-tab>

      <md-tab label="Student Information">

        <div layout="column" class="inset">
          <div layout="row" class="pad-bottom">
            <span flex="15">Identity No. </span>
            <span>{{admission?.student?.identityNo}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="15">Name</span>
            <span>{{admission?.student?.name}}</span>
          </div>

          <div layout="row" class="pad-bottom">
            <span flex="15">Email</span>
            <span>{{admission?.student?.email}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="15">Phone</span>
            <span>{{admission?.student?.phone}}</span>
          </div>
           <div layout="row" class="pad-bottom">
            <span flex="15">Fax</span>
            <span>{{admission?.student?.fax}}</span>
          </div>
           <div layout="row" class="pad-bottom">
            <span flex="15">Status</span>
            <span>{{admission?.student?.studentStatus}}</span>
          </div>

        </div>
      </md-tab>
      <md-tab label="Academic Information">

        <div layout="column" class="inset">
          <div layout="row" class="pad-bottom">
            <span flex="15">Code</span>
            <span>{{admission?.academicSession?.code}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="15">Description</span>
            <span>{{admission?.academicSession?.description}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="15">Description</span>
            <span>{{admission?.academicSession?.semester}}</span>
          </div>
        </div>
      </md-tab>
      <md-tab label="Cohort Information">

        <div layout="column" class="inset">
          <div layout="row" class="pad-bottom">
            <span flex="15">Code</span>
            <span>{{admission?.cohort?.code}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="15">Description</span>
            <span>{{admission?.cohort?.description}}</span>
          </div>
        </div>
      </md-tab>
       <md-tab label="Advisor Information" *ngIf=admission.advisor>

        <div layout="column" class="inset">
          <div layout="row" class="pad-bottom">
            <span flex="15">Name</span>
            <span>{{admission?.advisor?.name}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="15">Email</span>
            <span>{{admission?.advisor?.email}}</span>
          </div>
           <div layout="row" class="pad-bottom">
            <span flex="15">Phone</span>
            <span>{{admission?.advisor?.phone}}</span>
          </div>
           <div layout="row" class="pad-bottom">
            <span flex="15">Mobile</span>
            <span>{{admission?.advisor?.mobile}}</span>
          </div>
        </div>
      </md-tab>
      
        <md-tab label="Study Center Information" *ngIf=admission.studyCenter>

        <div layout="column" class="inset">
          <div layout="row" class="pad-bottom">
            <span flex="15">Code</span>
            <span>{{admission?.studyCenter?.code}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="15">Description</span>
            <span>{{admission?.studyCenter?.description}}</span>
          </div>
         
        </div>
      </md-tab>

    </md-tab-group>
  </md-card-content>
</md-card>




