<md-card class="bgc-green-600" flex>
  <md-card-content
    class="text-center">
    <div class="md-display-1">{{admission?.status}}</div>
    <div layout="column" layout-padding>
      <div class="md-subhead tc-grey-100">{{admission?.standing}}</div>

    </div>
  </md-card-content>
</md-card>
 <md-card>
  <md-card-title>Action</md-card-title>
  <md-card-subtitle>Actions available on current semester registration</md-card-subtitle>
  <md-divider></md-divider>

  <md-nav-list flex dense><!-- [routerLink]="['/secure/term/admission-applications/admission-application-center2']" -->
    <md-list-item  *ngIf="enrollmentApplications?.length > 0" (click)="semesterRegister()">
      <md-icon md-list-avatar >done_all</md-icon>
      <h4 md-line >Create semester registration {{admission?.student?.identityNo}}</h4>
      <p md-line>Create new semester registration </p>
    </md-list-item>
     <md-list-item  *ngIf="enrollmentApplications?.length == 0" (click)="courseEnrollManual()">
      <md-icon md-list-avatar >done_all</md-icon>
      <h4 md-line >Course enrollment</h4>
      <p md-line>Please create new course enrollment </p>
    </md-list-item>
    
     <!--  <a href="http://localhost:8080/servlet/report?report=Ad_STD_300.jrxml&report.pdf&identity_no={{admission?.student?.identityNo}}&session_code={{admission?.academicSession?.code}}" [target]="'_blank'">  -->
    <md-list-item (click)="downloadReport('Ad_STD_300.jrxml&report.pdf',admission)"  >
      <md-icon md-list-avatar>description</md-icon>
     <h4 md-line>Course Registration Slip </h4>
      <p md-line>View course registration slip </p> 
    </md-list-item>
    <!-- </a> -->
         

    <md-divider></md-divider>
  </md-nav-list>
</md-card> 
<md-card>
        <md-card-title>Menu</md-card-title>
        <md-card-subtitle>Actions
          available on current section
        </md-card-subtitle>
        <md-divider></md-divider>
        <md-nav-list
          flex dense>
          <md-list-item [routerLink]="['/secure']">
            <md-icon md-list-avatar>email</md-icon>
            <h4 md-line>My Profile</h4>
            <p md-line>Go to my profile </p>
          </md-list-item>
          
          
        </md-nav-list>
      </md-card>
