<md-card>
    <div toolbar-buttons layout="row" layout-align="start center" flex>
   <md-card-title>Subjects Elective</md-card-title>
   <md-chip-list *ngIf="subjects?.length > 0">
     <md-chip color="accent">{{subjects?.length}}</md-chip>
   </md-chip-list>
    <span flex></span>
    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>add</md-icon>
    </button>
     <button md-button class="md-icon-button" (click)="deleteSubject()">
      <md-icon class="md-24 tc-grey-300" [ngClass]="{'tc-grey-700': selectedRows.length > 0}">delete</md-icon>
    </button>
    <md-menu x-position="before" #menu="mdMenu">
      <button md-menu-item (click)="showBundleSubjectDialog()">Bundle Subject</button> 
    </md-menu>
  </div>
  <md-divider></md-divider>
  <md-card-content>
    <td-data-table
      [data]="subjects"
      [columns]="columns"
      [sortBy]="summary"
      [sortOrder]="ASC"
      [sortable]="false"
      [multiple]="true"
      [selectable]="true"
      [(ngModel)]="selectedRows"
      (rowSelect)="selectRow($event)"
      (selectAll)="selectAllRows($event)"
      dense>
      <template tdDataTableTemplate="parts" let-value="value" let-row="row" let-column="columns.parts">
        <div layout="row">
          <span *ngIf="row.type=='bundle'" flex> </span>
          <template *ngIf="row.type=='bundle'" let-group ngFor [ngForOf]="subjects">
            <template let-part ngFor [ngForOf]="group.parts">
              <span>{{part.course.code}}</span>
            </template>
          </template>
        </div>
      </template>
      <template tdDataTableTemplate="action" let-value="value" let-row="row" let-column="column">
      <div layout="row">
      <a md-button color="accent" class="text-upper" (click)="showBundleElectiveDialog(row, true)">
      <span>View</span>
      </a>
    </div>
     </template>
    </td-data-table>
  </md-card-content>
</md-card>
