<!-- Basic Card -->
<td-layout-manage-list #list>
    <md-nav-list list-items>
        <a md-list-item [routerLink]="['/secure']">
            <md-icon>create</md-icon>
            My Profile
        </a>
        
         <md-divider></md-divider>
        <h3 md-subheader>Examination Reports</h3>
     <div>
        <a md-list-item (click)="downloadReport('Ad_TERM_207.jrxml&report.pdf',admission)"  color="accent">
        <md-icon>library_books</md-icon>
        <span> Examination Slip </span>
          
      </a>
    </div> 
       <div>
        <a md-list-item (click)="downloadReport('Ad_TERM_201.jrxml&report.pdf',admission)"  color="accent">
        <md-icon>library_books</md-icon>
        <span> Examination Result </span>
          
      </a>
    </div> 
    
    </md-nav-list>
    <md-card class="">
        <md-divider></md-divider>
        <md-card-content>
            <md-card>
                <md-card-title>
                    <img src="\assets\ico\umk.png" width="30" height="30">Semester Detail :: {{admission.academicSession?.code}}
                </md-card-title>
                <md-card-subtitle>{{admission.student?.identityNo}}</md-card-subtitle>
                <md-divider></md-divider>
                <md-card-content>
                    <!--Tab Section Here-->
                    <md-tab-group>
                        <md-tab label="Semester Detail"><br>
                            <div layout="column" layout-gt-md="row" class="insert">
                                <div flex-gt-md="30">

                                    <div layout="row" class="pad-bottom">
                                        <span flex="15">Student ID</span>
                                        <span>{{admission.student?.identityNo}}</span>
                                    </div>
                                    <div layout="row" class="pad-bottom">
                                        <span flex="15">Name</span>
                                        <span>{{admission.student?.name}}</span>
                                    </div>
                                    <div layout="row" class="pad-bottom">
                                        <span flex="15">Semester</span>
                                        <span>{{admission.academicSession?.code}}</span>
                                    </div>
                                </div>
                                <div flex-gt-md="30">
                                    <div layout="row" class="pad-bottom">
                                        <span flex="15">Status</span>
                                        <span>{{admission.student?.studentStatus}}</span>
                                    </div>

                                    <div layout="row" class="pad-bottom">
                                        <span flex="15">GPA</span>
                                        <span>{{admission.gpa | number : '1.2-2'}}</span>
                                    </div>
                                    <div layout="row" class="pad-bottom">
                                        <span flex="15">CGPA</span>
                                        <span>{{admission.cgpa | number : '1.2-2'}}</span>
                                    </div>
                                    <template let-enrollment let-last="last" ngFor [ngForOf]="enrollments$ | async ">

                                        <div layout="row" class="pad-bottom">
                                            <span flex="15">CGPA</span>
                                            <span>{{enrollment.student.name}}</span>
                                        </div>

                                    </template>

                                </div>
                            </div>
                            <div>
                                <!--COURSE INFORMATION-->
                                <md-card>
                                
                                  
    
     <div toolbar-buttons layout="row" layout-align="start center" flex>
    <md-card-title>Courses
    </md-card-title>
    <md-chip-list *ngIf="enrollments?.length > 0">
      <md-chip color="accent">{{enrollments?.length}}</md-chip>
    </md-chip-list>
   
   
  </div>
                                    
                                                <td-data-table
                                                    [data]="enrollments"
                                                    [columns]="columns"
                                                    [sortBy]="summary"
                                                    [sortOrder]="ASC"
                                                    [sortable]="false"
                                                    [multiple]="false"
                                                    [selectable]="false"
                                                    (rowSelect)="edit.emit($event)" dense>

                                                <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
                                                        <div layout="row">
                                                            <span flex>{{value}}</span>
                                                        </div>
                                                </template>
                                                
                                                 <template tdDataTableTemplate="gradeCode.code" let-value="value" let-row="row" let-column="columns.gradeCode.code">
        <div layout="row">
          <div *ngIf="value == null">0</div>
           <div *ngIf="value != null">{{value}}</div>       
        </div>
      </template>
      
      <template tdDataTableTemplate="gradeCode.description" let-value="value" let-row="row" let-column="columns.gradeCode.description">
        <div layout="row">
          <div *ngIf="value == null">0</div>
           <div *ngIf="value != null">{{value}}</div>       
        </div>
      </template>
                                                
                                                
                                                </td-data-table>
                                </md-card>
                            </div>

                        </md-tab>
                    </md-tab-group>
                </md-card-content>
                <md-divider></md-divider>

            </md-card>
        </md-card-content>
    </md-card>
</td-layout-manage-list>