<!-- Basic Card -->
<md-card>
  <md-card-title>{{academicSession.description}}</md-card-title>
  <md-card-subtitle>{{academicSession.code}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <!--Tab Section Here-->
    <md-tab-group>
      <md-tab label="Academic Session Detail"><br>

        <div layout="column" class="inset">
          <div layout="row" class="pad-bottom">
            <span flex="15">Code</span>
            <span>{{academicSession.code}}</span>
          </div>

          <div layout="row" class="pad-bottom">
            <span flex="15">Description</span>
            <span>{{academicSession.description}}</span>
          </div>

          <div layout="row" class="pad-bottom">
            <span flex="15">Status </span>
            <span>{{academicSession.current}}</span>
          </div>

          <div layout="row" class="pad-bottom">
            <span flex="15">Start Date </span>
            <span>{{academicSession.startDate}}</span>
          </div>

          <div layout="row" class="pad-bottom">
            <span flex="15">End Date </span>
            <span>{{academicSession.endDate}}</span>
          </div>

        </div>


      </md-tab>
    </md-tab-group>

  </md-card-content>
  <md-divider></md-divider>
</md-card>

