<!--COURSE INFORMATION-->
<md-card>
  <div md-content flex md-scroll-y>
    <div layout="column" layout-gt-md="row" class="insert">

      <div flex-gt-md="50">
        <md-card-title>List Of Courses</md-card-title>
      </div>

    </div>
  </div>
  <md-divider></md-divider>

  <md-card-content>
    <td-data-table
      [data]="enrollments"
      [columns]="columns"
      [sortBy]="summary"
      [sortOrder]="ASC"
      [sortable]="false"
      [multiple]="false"
      [selectable]="false"
      (rowSelect)="edit.emit($event)" dense>

      <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
        <div layout="row">
          <span flex>{{value}}</span>
        </div>
      </template>

    </td-data-table>
  </md-card-content>
</md-card>
