<md-card>
  <md-card-title>{{enrollment?.admission?.student?.name}}</md-card-title>
  <md-card-subtitle>{{enrollment?.section?.offering?.titleEn}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <!--Tab Section Here-->
    <md-tab-group>
    
      <md-tab label="Section Detail">
        <br>
        <div layout="column" class="inset">
          <div layout="row" class="pad-bottom">
            <span flex="20">Code</span> <span>{{enrollment?.section?.code}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="20">CanonicalCode</span> <span>{{enrollment?.section?.canonicalCode}}</span>
          </div>
           <div layout="row" class="pad-bottom">
            <span flex="20">CanonicalCode</span> <span>{{enrollment?.section?.offering?.titleEn}}</span>
          </div>
            <div layout="row" class="pad-bottom">
            <span flex="20">CanonicalCode</span> <span>{{enrollment?.section?.offering?.titleMs}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="20">Capacity</span> <span>{{enrollment?.section?.capacity}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="20">Section No.</span> <span>{{enrollment?.section?.ordinal}}</span>
          </div>
        </div>
      </md-tab>
     <md-tab label="Program Information">
        <br>
        <div layout="column" class="inset">
          <div layout="row" class="pad-bottom">
            <span flex="20">Program Code</span> <span> {{enrollment?.section?.offering?.program?.code}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="20">Program</span> <span>{{enrollment?.section?.offering?.program?.titleEn}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="20">Faculty</span> <span>{{enrollment?.section?.offering?.program?.faculty?.description}}</span>
          </div>

        </div>
      </md-tab>
      
      <md-tab label="Student Detail">
        <br>
        <div layout="column" class="inset">
          <div layout="row" class="pad-bottom">
            <span flex="20">Code</span> <span>{{enrollment?.admission?.student?.name}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="20">CanonicalCode</span> <span>{{enrollment?.admission?.student?.identityNo}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="20">Capacity</span> <span>{{enrollment?.admission?.student?.email}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="20">Section No.</span> <span>{{enrollment?.admission?.student?.phone}}</span>
          </div>
        </div>
      </md-tab>

    </md-tab-group>

  </md-card-content>
</md-card>
<md-divider></md-divider>



