<md-card class="bgc-green-600" flex>
  <md-card-content
    class="text-center">
    <div class="md-display-1">{{enrollment?.section?.code}}</div>
    <div layout="column" layout-padding>
      <div class="md-subhead tc-grey-100">SECTION {{enrollment?.section?.ordinal}}</div>

    </div>
  </md-card-content>
</md-card>
 <md-card>
        <md-card-title>Menu</md-card-title>
        <md-card-subtitle>Actions
          available on current section
        </md-card-subtitle>
        <md-divider></md-divider>
        <md-nav-list
          flex dense>
          <md-list-item [routerLink]="['/secure']">
            <md-icon md-list-avatar>email</md-icon>
            <h4 md-line>My Profile</h4>
            <p md-line>Go to my profile </p>
          </md-list-item>
        </md-nav-list>
      </md-card>