<md-card>
  <md-card-title>{{offering?.course.title}}</md-card-title>
  <md-card-subtitle>{{offering.code}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>

    <md-tab-group>
      <md-tab label="Offering Detail">
        <br>
        <div>Offering Code : {{offering.code}}</div>
        <br>
        <div>Offering CanonicalCode : {{offering.canonicalCode}}</div>
        <br>

      </md-tab>
      <md-tab label="Course Information"> <!-- {{offering.course.titleMs}}  -->

        <div>Course Title : {{offering?.course?.title}}</div>
        <br>
        <div>Course TitleEn :{{offering?.course?.titleMs}}</div>
        <br>
        <div>Course TitleMs :{{offering?.course?.titleEn}}</div>
        <br>
        <div>Credit :{{offering?.course?.credit}}</div>
        <br>
      </md-tab>
      <md-tab label="Program Information">
        <div>Program Code : {{offering?.program?.code}}</div>
        <br>
        <div>Program Title :{{offering?.program?.title}}</div>
        <br>
        <div>Program TitleMs :{{offering?.program?.titleMs}}</div>
        <br>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>





