<md-card>
  <div toolbar-buttons layout="row" layout-align="start center" flex>
    <md-card-title flex>Sections</md-card-title>
    <button md-button class="md-icon-button" mdTooltip="Add new section" (click)="showSectionDialog()">

     <md-icon class="md-24" >playlist_add</md-icon>
    </button>
  </div>
  <md-divider></md-divider>
  <md-card-content>
    <td-data-table [data]="sections" [columns]="columns" [sortBy]="summary"
                   [sortOrder]="ASC" [sortable]="false" [multiple]="true"
                   [selectable]="true" (rowSelect)="view.emit($event)" dense>
      <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
        <div layout="row">
          <span flex>{{value}}</span>
        </div>
      </template>
      <template tdDataTableTemplate="action" let-value="value" let-row="row" let-column="column">
        <div layout="row">
          <a md-button color="accent" class="text-upper"  mdTooltip="View this section"
             [routerLink]="['/term/sections', row['canonicalCode']]"> <md-icon class="md-24">pageview</md-icon>
          </a>
           <a md-button color="accent" class="text-upper" mdTooltip="Delete this section"
             (click)="deleteSection(row)"> <md-icon class="md-24" >delete</md-icon>
          </a>
        </div>
      </template>
    </td-data-table>
  </md-card-content>
</md-card>
