<md-card>
  <md-card-title>Assessments</md-card-title>
  <md-card-subtitle>List assessments for this offering
  </md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <td-data-table
      [data]="assessments"
      [columns]="columns"
      [sortBy]="summary"
      [sortOrder]="ASC"
      [sortable]="false"
      [multiple]="true"
      [selectable]="true" dense>
      <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
        <div layout="row">
          <span flex>{{value}}</span>
        </div>
      </template>
    </td-data-table>
  </md-card-content>
</md-card>
