<md-card>
  <md-card-title>OFFERING</md-card-title>
  <md-card-subtitle>Offering Information for {{offering.code}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <!--Tab Section Here-->
    <md-tab-group>
      <md-tab label="Offering Detail"><br>
        <div>Offering Code : {{offering.code}}</div>
        <br>
        <div>Offering CanonicalCode : {{offering.canonicalCode}}</div>
        <br>
        
           
      </md-tab>

      <md-tab label="Course Information">
        
        <div>Course Title : {{offering.program.title}}</div>
        <br>
        <div>Course TitleEn : {{offering.course.title}}</div>
        <br>
        <div>Course TitleEn : {{offering.course.titleMs}}</div>
        <br>
         <div>Credit : {{offering.course.credit}}</div>
        <br>
      </md-tab>
      
       <md-tab label="Program Information">
       
         <div>Program Code : {{offering.program.code}}</div>
        <br>
        <div>Program Title : {{offering.program.title}}</div>
        <br>
        <div>Program Title : {{offering.program.titleMs}}</div>
        <br>
      </md-tab>

    </md-tab-group>

  </md-card-content>
  <md-card-actions layout-align="end center">
    <button md-button color="accent" class="text-upper">UPDATE</button>
  </md-card-actions>
</md-card>



