<md-card>  <md-card-title>SECTIONS BY OFFERING</md-card-title> <md-card-subtitle>List Sections By Offering
</md-card-subtitle> <md-divider></md-divider>
<md-card-content>
<!--Tab Section  {{section.code}} Here--> 

<td-data-table [data]="sections" [columns]="columns" [sortBy]="summary"
	[sortOrder]="ASC" [sortable]="false" [multiple]="false"
	[selectable]="false" (rowSelect)="view.emit($event)" dense>
<template tdDataTableTemplate="key" let-value="value" let-row="row"
	let-column="column">
<div layout="row">
	<span flex>{{value}}</span>
</div>
</template> <template tdDataTableTemplate="action" let-value="value" let-row="row"
	let-column="column">
<div layout="row">
	<a md-button color="accent" class="text-upper"
		[routerLink]="['/term/sections', row['canonicalCode']]"> <span>View</span>
	</a>
</div>
</template> </td-data-table> 
  </md-card-content>
  </md-card> 