<md-card>
  <div toolbar-buttons layout="row" layout-align="start center" flex>
    <md-card-title flex>Enrollments</md-card-title>
    <button md-button class="md-icon-button">
      <md-icon class="md-24">add</md-icon>
    </button>
  </div>
  <md-divider></md-divider>
  <md-card-content>
    <td-data-table
      [data]="enrollments"
      [columns]="columns"
      [sortBy]="summary"
      [sortOrder]="ASC"
      [sortable]="false"
      [multiple]="true"
      [selectable]="true" dense>
      <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
        <div layout="row">
          <span flex>{{value}}</span>
        </div>
      </template>
       <template tdDataTableTemplate="action" let-value="value" let-row="row"
                let-column="column">
        <div layout="row">
          <a md-button color="accent" class="text-upper"
             [routerLink]="['/term/appointments', row['canonicalCode']]"> <span>View</span>
          </a>
        </div>
      </template>
      
    </td-data-table>
  </md-card-content>
</md-card>
