<md-card>
  <md-card-title>{{offering?.titleMs}}</md-card-title>
  <md-card-subtitle>{{offering?.code}}</md-card-subtitle>
  <md-card-subtitle>{{offering?.titleMs}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <md-tab-group>
      <md-tab label="Offering Information">
        <md-card>
          <div md-content flex md-scroll-y>
            <div layout="column" layout-gt-md="row" class="insert">

              <div flex-gt-md="50">
                <md-card-title>Offering Details Info</md-card-title>
              </div>

              <div flex-gt-md="50" align="right">
              </div>
            </div>
          </div>

          <md-divider></md-divider>
          <md-card-content><br>
            <div>Code : {{offering?.code}}</div>
            <br>
            <div>CanonicalCode : {{offering?.canonicalCode}}</div>
            <br>
            <div>Capacity : {{offering?.capacity}}</div>
            <br>
            <div>Title(MS) : {{offering?.titleMs}}</div>
            <br>
            <div>Title(EN) : {{offering?.titleEn}}</div>
            <br>

          </md-card-content>
        </md-card>
      </md-tab>
      <md-tab label="Course Information">
        <md-card>
          <div md-content flex md-scroll-y>
            <div layout="column" layout-gt-md="row" class="insert">

              <div flex-gt-md="50">
                <md-card-title>Course Details Info</md-card-title>
              </div>

              <div flex-gt-md="50" align="right">
              </div>
            </div>
          </div>

          <md-divider></md-divider>
          <md-card-content><br>
            <div>Course Title(MS) :{{offering?.course?.titleMs}}</div>
            <br>
            <div>Course Title(EN) :{{offering?.course?.titleEn}}</div>
            <br>
            <div>Credit :{{offering?.course?.credit}}</div>
            <br>

          </md-card-content>
        </md-card>
      </md-tab>
      <md-tab label="Program Information">
        <md-card>
          <div md-content flex md-scroll-y>
            <div layout="column" layout-gt-md="row" class="insert">

              <div flex-gt-md="50">
                <md-card-title>Program Details Info</md-card-title>
              </div>

              <div flex-gt-md="50" align="right">
              </div>
            </div>
          </div>

          <md-divider></md-divider>
          <md-card-content><br>
            <div>Program Code : {{offering?.program?.code}}</div>
            <br>
            <div>Program Title(MS) :{{offering?.program?.titleMs}}</div>
            <br>
            <div>Program Title(EN) :{{offering?.program?.titleEn}}</div>
            <br>

          </md-card-content>
        </md-card>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>





