<md-card>
  <div toolbar-buttons layout="row" layout-align="start center" flex>
    <md-card-title flex>Enrollments</md-card-title>
    <!-- <button md-button class="md-icon-button" mdTooltip="Add new enrollment" [routerLink]="['/term/enrollment-applications']">
      <md-icon class="md-24" >playlist_add</md-icon>
    </button>
     <button md-button class="md-icon-button" mdTooltip="Update section"  (click)="updateEnrollment(row)">
    <md-icon class="md-24" >update</md-icon>
    </button>
     <button md-button class="md-icon-button" mdTooltip="Delete section"  (click)="deleteEnrollment(row)">
    <md-icon class="md-24" >delete</md-icon>
    </button> -->
     <!-- <button md-icon-button [md-menu-trigger-for]="menu1" mdTooltip="Select enrollment actions">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu x-position="before" #menu1="mdMenu">
      <button md-menu-item [routerLink]="['/term/enrollment-applications']">Add new enrollment</button>
      <button md-menu-item (click)="updateAssessment(row)">Update enrollment</button>
      <button md-menu-item (click)="deleteAssessment(row)">Delete enrollment</button>
    </md-menu> -->
    <button md-button class="md-icon-button" [routerLink]="['/term/enrollment-applications']" mdTooltip="Add new enrollment">
      <md-icon class="md-24 tc-grey-700">add</md-icon>
    </button>
    <button md-button class="md-icon-button" (click)="updateEnrollment(row)" mdTooltip="Update enrollment"  >
      <md-icon class="md-24 tc-grey-700">edit</md-icon>
    </button>
    <!-- <button md-button class="md-icon-button" (click)="deleteEnrollment(row)" mdTooltip="Delete enrollment">
      <md-icon class="md-24 tc-grey-700">delete</md-icon>
    </button> -->
  </div>
  <md-divider></md-divider>
  <md-card-content>
    <td-data-table
      [data]="enrollments"
      [columns]="columns"
      [sortBy]="summary"
      [sortOrder]="ASC"
      [sortable]="false"
      [multiple]="true"
      [selectable]="true" dense>
      <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
        <div layout="row">
          <span flex>{{value}}</span>
        </div>
      </template>
       <template tdDataTableTemplate="action" let-value="value" let-row="row"
                let-column="column">
        <div layout="row">
          <a md-button color="accent" class="text-upper" mdTooltip="View this enrollment"
             [routerLink]="['/term/enrollments', row['id']]"> <span> VIEW</span> <!-- <md-icon class="md-24">pageview</md-icon> -->
          </a>
           <!-- <a md-button color="accent" class="text-upper" mdTooltip="Delete this enrollment"
             (click)="deleteSection()"> <md-icon class="md-24" >delete</md-icon>
          </a> -->
        </div>
      </template>
      
    </td-data-table>
  </md-card-content>
</md-card>
