<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>STUDENT PAMS: Postgraduate Management System</span> <span flex></span>
  </div>

  <div md-content flex md-scroll-y>
    <div layout="column" layout-gt-md="row" class="inset">
      <div flex-gt-md="70">
        <pams-appointment
          [appointment]="appointment$ | async">
        </pams-appointment>
      </div>
      <div flex-gt-md="30">
       <!--  <pams-appointment-action 
        [appointment]="appointment$ | async"
        [section]="section$ | async">
        </pams-appointment-action> -->
        <md-card>
          <md-card-title>Term Menu</md-card-title>
          <md-card-subtitle>Go to previous menu
          </md-card-subtitle>
          <md-divider></md-divider>
          <md-nav-list
            flex dense>
            <md-list-item [routerLink]="['/term/admission-applications/admission-application-center2']">
              <md-icon md-list-avatar>menu</md-icon>
              <h4 md-line>Semester Registration</h4>
              <p md-line>Watch this semester registrations</p>
            </md-list-item>
            <md-list-item [routerLink]="['/term/enrollment-applications/student-enrollment-center']">
              <md-icon md-list-avatar>menu</md-icon>
              <h4 md-line>Course Enrollments</h4>
              <p md-line>Watch this offerings</p>
            </md-list-item>

            <md-divider></md-divider>
          </md-nav-list>
        </md-card>
      </div>
    </div>
  </div>
</td-layout-nav>