<md-card>
  <div md-content flex md-scroll-y>
    <div layout="column" layout-gt-md="row" class="insert">

      <div flex-gt-md="50">
        <md-card-title>Program Information</md-card-title>
      </div>

      <div flex-gt-md="50" align="right">
        <button md-icon-button [md-menu-trigger-for]="menu">
          <md-icon>more_vert</md-icon>
        </button>
        <md-menu x-position="before" #menu="mdMenu">
          <button md-menu-item (click)="editDialog(row)">Edit</button>
        </md-menu>
      </div>
    </div>
  </div>

  <md-card-subtitle></md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content *ngFor="let program of programs">
    <div layout="column" layout-gt-md="row" class="insert">
      <div flex-gt-md="50">
        <b>Program Code</b><br/>{{program.faculty.code}}
      </div>
      <div flex-gt-md="50">
        <b>Program Title</b><br/>{{faculty.program.titleEn}}
      </div>
    </div>
  </md-card-content>
</md-card>
