<md-card>
  <md-card-title>Action</md-card-title>
  <md-card-subtitle>Actions available on current faculties</md-card-subtitle>
  <md-divider></md-divider>

  <md-nav-list flex dense>

    <md-list-item (click)="editorDialog()">
      <md-icon md-list-avatar>done_all</md-icon>
      <h4 md-line>Edit</h4>
      <p md-line>Edit this faculty</p>
    </md-list-item>

    <md-list-item (click)="activate()">
      <md-icon md-list-avatar>done_all</md-icon>
      <h4 md-line>Activate</h4>
      <p md-line>Activate this faculty</p>
    </md-list-item>

    <md-list-item (click)="deactivate()">
      <md-icon md-list-avatar>gavel</md-icon>
      <h4 md-line>Deactivate</h4>
      <p md-line>Deactivate this faculty</p>
    </md-list-item>

    <md-divider></md-divider>
    <h3 md-subheader>Planner Menu</h3>
    <md-list-item [routerLink]="['/secure/planner/academic-sessions']">
      <md-icon md-list-avatar>menu</md-icon>
      <h4 md-line>Academic Session</h4>
      <p md-line>List of academic sessions</p>
    </md-list-item>

    <md-list-item [routerLink]="['/secure/planner/programs']">
      <md-icon md-list-avatar>menu</md-icon>
      <h4 md-line>Program</h4>
      <p md-line>List of programs</p>
    </md-list-item>

    <md-list-item [routerLink]="['/secure/planner/courses']">
      <md-icon md-list-avatar>menu</md-icon>
      <h4 md-line>Courses</h4>
      <p md-line>List of courses</p>
    </md-list-item>

    <md-list-item [routerLink]="['/secure/planner/cohorts']">
      <md-icon md-list-avatar>menu</md-icon>
      <h4 md-line>Cohorts</h4>
      <p md-line>List of cohorts</p>
    </md-list-item>

    <md-list-item [routerLink]="['/secure/planner/curriculums']">
      <md-icon md-list-avatar>menu</md-icon>
      <h4 md-line>Curriculums</h4>
      <p md-line>List of curriculums</p>
    </md-list-item>
  </md-nav-list>
</md-card>
