<md-card>
  <md-card-title>{{faculty?.description }}</md-card-title>
  <md-card-subtitle>{{faculty?.code}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>

    <md-tab-group>
      <md-tab label="Faculty Detail"><br>
        <div layout="column" class="inset">
          <div layout="row" class="pad-bottom">
            <span flex="15">Code</span>
            <span>{{faculty?.code}}</span>
          </div>
          
          <div layout="row" class="pad-bottom">
            <span flex="15">Description </span>
            <span>{{faculty?.description}} </span>
          </div>

          <div layout="row" class="pad-bottom">
            <span flex="15">Short Name</span>
            <span>{{faculty?.name}} </span>
          </div>

          <div layout="row" class="pad-bottom">
            <span flex="15">Prefix</span>
            <span>{{faculty?.prefix}} </span>
          </div>
        </div>
      </md-tab>
    </md-tab-group>
  </md-card-content>
  <md-divider></md-divider>
</md-card>
