<md-card>
  <md-card-title>{{course?.titleEn | uppercase}}</md-card-title>
  <md-card-subtitle>{{course?.code}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <!--Tab Section Here-->
    <md-tab-group>
      <md-tab label=" Course Detail">
        <div layout="column" class="inset">
          <div layout="row" class="pad-bottom">
           <span flex="15">Code </span> <span>{{course?.code | uppercase}}</span>
            </div>

            <div layout="row" class="pad-bottom">
                <span flex="15">Title(Ms)</span> <span>{{course?.titleMs | uppercase}}</span>
              </div>
              <div layout="row" class="pad-bottom">
                <span flex="15">Credit</span> <span>{{course.credit}}</span>
              </div>

              <div layout="row" class="pad-bottom">
                  <span flex="15">Title(En)</span> <span>{{course?.titleEn | uppercase}}</span>
                </div>
              </div>
      </md-tab>


      

      <md-tab label="Faculty Information">
        <div layout="column" class="inset">
           <div layout="row" class="pad-bottom">
             <span flex="15">Code</span> <span>{{course?.faculty?.code}}</span>
              </div>

            <div layout="row" class="pad-bottom">
              <span flex="15">Short Name</span> <span>{{course?.faculty?.name}}</span>
            </div>

            <div layout="row" class="pad-bottom">
                <span flex="15">Description </span> <span>{{course?.faculty?.description}}</span>
            </div>
          </div>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>
