
      <!--<md-card>
  <md-card-title>Action</md-card-title>
  <md-card-subtitle>Actions available on current account</md-card-subtitle>
  <md-divider></md-divider>
  <md-nav-list flex dense>
    <md-list-item (click)="deactivate()">
      <md-icon md-list-avatar>gavel</md-icon>
      <h4 md-line>Deactivate</h4>
      <p md-line>Deactivate this student</p>
    </md-list-item>
    <md-list-item (click)="activate()">
      <md-icon md-list-avatar>gavel</md-icon>
      <h4 md-line>Activate</h4>
      <p md-line>Activate this student</p>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item (click)="showTransferDialog()">
      <md-icon md-list-avatar>cached</md-icon>
      <h4 md-line>Transfer</h4>
      <p md-line>Transfer cohort</p>
    </md-list-item>
    <md-list-item (click)="showSwitchDialog()">
      <md-icon md-list-avatar>transform</md-icon>
      <h4 md-line>Switch Mode</h4>
      <p md-line>Switch study mode</p>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item (click)="bar()">
      <md-icon md-list-avatar>done_all</md-icon>
      <h4 md-line>Bar</h4>
      <p md-line>Bar this student</p>
    </md-list-item>
    <md-list-item (click)="disbar()">
      <md-icon md-list-avatar>done_all</md-icon>
      <h4 md-line>Disbar</h4>
      <p md-line>Disbar this student</p>
    </md-list-item>
  </md-nav-list>
</md-card>-->
