<h2 md-dialog-title>Semester Registration Form </h2>
<md-dialog-content>
  <form [formGroup]="createForm" novalidate>
    <div fxLayout fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px">
 <pams-student-select
        [placeholder]="'Select Student'"
        [innerFormControl]="createForm.controls.student" fxFlex="calc(100%-25px)" class="pad-bottom">
      </pams-student-select>
      <div class="tc-red-600" *ngIf="createForm.get('student').invalid && createForm.get('student').touched">
        Please add your student!
      </div> 
      <pams-academic-session-select
        [placeholder]="'Select Session'"
        [innerFormControl]="createForm.controls.academicSession" fxFlex="calc(100%-25px)" class="pad-bottom">
      </pams-academic-session-select>
      <div class="tc-red-600"
           *ngIf="createForm.get('academicSession').invalid && createForm.get('academicSession').touched">
        Please add your academic Session!
      </div>
      <!--   <md-input-container flex>
            <input mdInput #ordinal
               placeholder="Semester"  
               value="1" readonly flex/>
            </md-input-container> -->
            
             <md-input-container fxFlex="calc(100%-25px)" mdTooltip="Please insert ordinal">
        <input mdInput placeholder="Semester" formControlName="ordinal" type="number" />
      </md-input-container>
        <div class="tc-red-600"
           *ngIf="createForm.get('ordinal').invalid && createForm.get('ordinal').touched">
        Please insert student's semester!
      </div>
    </div>
  </form>
</md-dialog-content>
<md-dialog-actions align="end">
  <button md-raised-button color="accent" [disabled]="createForm.invalid" (click)="save(createForm.value)"> {{edit ?
    'Update' : 'Save'}}
  </button>
</md-dialog-actions>

