<h2 md-dialog-title>Student: New Semester Registration Form</h2>
<md-dialog-content> <!-- Current AcademicSession: {{_academicSession.id}} -->
  <form [formGroup]="createForm" novalidate>
    <div fxLayout fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px">
<style>
table, th, td {
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}
</style>
	<table style="width:100%">
		<tbody>
			<tr style="font-family:verdana;background-color:#4AC5F9" >
				<td > <b>Name </b></td><!-- {{_admission.id}} -->
				<td>: {{_admission.student.name}} </td>
				<td></td>
			</tr>
			<tr style="font-family:verdana;background-color:#B2E4F9">
				<td >  <b>Identity No  </b></td>
				<td>: {{_admission.student.identityNo}}</td>
				<td></td>
			</tr>
			<tr style="font-family:verdana;background-color:#B2E4F9">
				<td >  <b>Semester </b></td>
				<td>: {{_admission.ordinal}}</td>
				<td></td>
			</tr>
			<tr style="font-family:verdana;background-color:#B2E4F9" *ngIf="!_admission.studyCenter" >
				<td > <b>Study Center</b></td>
				<td>: None </td>
				<td></td>
			</tr>
			<tr style="font-family:verdana;background-color:#B2E4F9" *ngIf="_admission.studyCenter" >
				<td > <b>Study Center </b></td>
				<td>: {{_admission.studyCenter.description}} </td>
				<td></td>
			</tr>
			<tr style="font-family:verdana;background-color:#B2E4F9" *ngIf="!_admission.advisor" >
				<td > <b>Advisor</b></td>
				<td>: None </td>
				<td></td>
			</tr>
			<tr style="font-family:verdana;background-color:#B2E4F9" *ngIf="_admission.advisor" >
				<td > <b>Advisor</b></td>
				<td>:  {{_admission.advisor.name}} </td>
				<td></td>
			</tr>
			<tr style="font-family:verdana;background-color:#B2E4F9">
				<td >  <b>Academic Session</b></td>
				<td>: 
     
       <pams-academic-session-select
        [placeholder]="'Select Session'" md-tooltip="Please choose academic session"
        [innerFormControl]="createForm.controls.academicSession" fxFlex="calc(100%-25px)" class="pad-bottom">
      </pams-academic-session-select>
      <div class="tc-red-600"
           *ngIf="createForm.get('academicSession').invalid && createForm.get('academicSession').touched">
        Please choose academic Session
      </div>
               </td>
				<td></td>
			</tr>
		</tbody>
	</table>
        </div>
  </form>
</md-dialog-content>
<md-dialog-actions align="end">
   <button md-raised-button color="accent" [disabled]="createForm.invalid" (click)="save(createForm.value, createForm.valid)">
    {{edit ? 'Submit Application' : 'Save'}}
  </button>
</md-dialog-actions>

