<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>PAMS: Postgraduate Management System For Term</span>
    <span flex></span>
  </div>

  <md-nav-list menu-items>
    <a *ngFor="let item of routes" md-list-item [routerLink]="[item.route]" (click)="layout.close()">
      <md-icon>{{item.icon}}</md-icon>
      {{item.title}}
    </a>
  </md-nav-list>

  <td-layout-manage-list #list>
    <md-nav-list list-items>
       <a md-list-item [routerLink]="['/accounts-create']">
        <md-icon>person_add</md-icon>
        Admission
        </a>
      <a md-list-item [routerLink]="['/accounts-create']">
        <md-icon>create</md-icon>
        Offerings
        </a>
      <a md-list-item [routerLink]="['/accounts-create']">
        <md-icon>group</md-icon>
        Appointment
        </a>
      <a md-list-item [routerLink]="['/accounts']">
        <md-icon>find_in_page</md-icon>
        Enrollment
      </a>
      <a md-list-item [routerLink]="['/accounts']">
        <md-icon>blur_on</md-icon>
        Admission Task
      </a>
       <a md-list-item [routerLink]="['/accounts']">
        <md-icon>android</md-icon>
        Enrollment Task
      </a>
      <md-divider></md-divider>
    </md-nav-list>
    <div toolbar-buttons layout="row" layout-align="start center" flex>
      <span flex>Offerings List Center</span>
      <button md-button class="md-icon-button">
        <md-icon class="md-24">settings</md-icon>
      </button>
      <button md-button class="md-icon-button">
        <md-icon class="md-24">more_vert</md-icon>
      </button>
    </div>

    <div layout="row" layout-wrap>
      <template let-stat let-last="last" ngFor [ngForOf]="stats">
        <div flex-md="100" flex-gt-md="33" layout="column">
          <md-card class="md-card-colored {{stat.color}}" flex>
            <md-card-content class="text-center">
              <div class="md-display-1">{{ stat.count | digits }}</div>
              <div layout="column" layout-padding>
                <div class="md-subhead tc-grey-100">Accounts {{stat.type}}</div>
                <div class="md-caption  tc-grey-100">updated {{ '2016-09-17 12:59:59' | timeAgo }}</div>
              </div>
            </md-card-content>
          </md-card>
        </div>
      </template>
    </div>


    <md-card class="">
      <md-card-title>Offerings</md-card-title>
      <md-card-subtitle>List of Offerings</md-card-subtitle>

      <!-- note: experimental -->
      <md-divider></md-divider>
    
 <td-data-table
  [data]="offering$ | async"
  [columns]="columns"
  [sortBy]="summary"
  [sortOrder]="ASC"
  [sortable]="false"
  [multiple]="false"
  [selectable]="false"
  (rowSelect)="view.emit($event)" dense>
  <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
    <div layout="row">
      <span flex> {{value}}</span>
    </div>
  </template>
  <template tdDataTableTemplate="action" let-value="value" let-row="row" let-column="column">
    <div layout="row">
      <a md-button color="accent" class="text-upper" [routerLink]="['/faculties', row['code']]">
        <span>View</span>
      </a>
    </div>
  </template>
</td-data-table>

      <md-divider></md-divider>
      <md-card-actions>
        <a md-button color="accent" class="text-upper" [routerLink]="['/accounts-search']">
          <span>View More</span>
        </a>
      </md-card-actions>
    </md-card>
  </td-layout-manage-list>
</td-layout-nav>
