<md-card>
  <md-card-title>{{cohort?.description}}</md-card-title>
  <md-card-subtitle>{{cohort?.code}}</md-card-subtitle>

  <md-divider></md-divider>
  <md-card-content>
    <!--Tab Section Here-->
    <md-tab-group>
      <md-tab label="Cohort Detail"><br>
        <div layout="column" class="inset">
          <div layout="row" class="pad-bottom">
            <span flex="15">Code</span>
            <span>{{cohort?.code}}</span>
          </div>

          <div layout="row" class="pad-bottom">
            <span flex="15">Description</span>
            <span>{{cohort?.description}} </span>
          </div>

          <!-- <div layout="row" class="pad-bottom">
            <span flex="15">Curriculum</span>
            <span>{{cohort?.curriculum?.code}} </span>
          </div> -->

          <div layout="row" class="pad-bottom">
            <span flex="15">Program Code</span>
            <span>{{cohort?.program?.code}} </span>
          </div>

          <div layout="row" class="pad-bottom">
            <span flex="15">Title</span>
            <span>{{cohort?.program?.titleEn}} </span>
          </div>
        </div>
  
      </md-tab>
    </md-tab-group>

  </md-card-content>
  <!-- <md-card-actions layout-align="end center">
  <button md-button color="accent" class="text-upper">UPDATE</button>
  </md-card-actions> -->
</md-card>
