<md-card-title>Cohort Form</md-card-title>
<md-card-subtitle>Create New Cohort</md-card-subtitle>

<md-dialog-content>
  <form [formGroup]="createForm" novalidate>

    <div fxLayout fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px" class="inset">
      <pams-academic-session-select
        [placeholder]="'Select Session'"
         [innerFormControl]="createForm.controls['academicSession']" fxFlex="calc(100%-25px)" class="pad-bottom">
      </pams-academic-session-select>
      <div class="tc-red-600"
           *ngIf="createForm.get('academicSession').invalid && createForm.get('academicSession').touched">
        Please add academic session!
      </div>
    
      <pams-program-select mdTooltip="Please select program"
                           [placeholder]="'Select Program'"
                           [innerFormControl]="createForm.controls['program']"
                           fxFlex="calc(100%-25px)" class="pad-bottom">
      </pams-program-select>
      <div class="tc-red-600" *ngIf="createForm.get('program').invalid && createForm.get('program').touched">
        Please add program!
      </div>
    </div>
  </form>
</md-dialog-content>
<md-dialog-actions align="end">
  <button md-raised-button color="accent" [disabled]="createForm.invalid"
          (click)="save(createForm.value, createForm.valid)">Save
  </button>
</md-dialog-actions>
