<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>PAMS: Postgraduate Management System</span>
    <span flex></span>
  </div>

  <div md-content flex md-scroll-y>
    <div layout="column" layout-gt-md="row" class="insert">
      <div flex-gt-md="70">
        <pams-profile
          [student]="student$ | async"
          [addressess]="addressess$ | async"
          [guarantors]="guarantors$ | async"
          [guardians]="guardians$ | async"
          [contacts]="contacts$ | async"
          [enrollments]="enrollments$ | async"
          [admissions]="admissions$ | async">
        </pams-profile>
      </div>
      <md-card>

        <pams-profile-status 
        [profile]="student$ | async">
        </pams-profile-status>
        <pams-profile-action [student]="student$ | async"></pams-profile-action>

        <!-- <md-nav-list flex dense>
          <md-list-item (click)="deactivate()">
            <md-icon md-list-avatar>gavel</md-icon>
            <h4 md-line>Deactivate</h4>
            <p md-line>Deactivate this student</p>
          </md-list-item>
          <md-list-item (click)="activate()">
            <md-icon md-list-avatar>gavel</md-icon>
            <h4 md-line>Activate</h4>
            <p md-line>Activate this student</p>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item (click)="bar()">
            <md-icon md-list-avatar>done_all</md-icon>
            <h4 md-line>Bar</h4>
            <p md-line>Bar this student</p>
          </md-list-item>
          <md-list-item (click)="disbar()">
            <md-icon md-list-avatar>done_all</md-icon>
            <h4 md-line>Disbar</h4>
            <p md-line>Disbar this student</p>
          </md-list-item>
        </md-nav-list> -->
      </md-card>


    </div>
  </div>
</td-layout-nav>
