<md-card class="bgc-grey-600" flex>
  <md-card-content
    class="text-center">
    <div class="md-display-1">APPLICATION SUCCESS</div>
    <div layout="column" layout-padding>
      <div class="md-subhead tc-grey-100">Application Ref: {{admissionApplication?.referenceNo}} Will Be Reviewed.Thank
        You.
      </div>

    </div>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>{{admissionApplication?.student?.name}}</md-card-title>
  <md-card-subtitle>REFERENCE NO.: {{admissionApplication?.referenceNo}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <md-tab-group>
      <md-tab label="Application Information">
        <div layout="column" class="inset">
          <div layout="row" class="pad-bottom">
            <span flex="15">Description</span> <span>{{admissionApplication?.description}}</span>
          </div>
          <!-- <div layout="row" class="pad-bottom">
                <span flex="15">Source No </span> <span>{{admissionApplication?.sourceNo}}</span>
            </div>
            <div layout="row" class="pad-bottom">
                <span flex="15">Audit No</span> <span>{{admissionApplication?.auditNo}}</span>
            </div>
            <div layout="row" class="pad-bottom">
                <span flex="15">Cancel Comment</span> <span>{{admissionApplication?.cancelComment}}</span>
            </div>
            <div layout="row" class="pad-bottom">
                <span flex="15">Remove Comment</span> <span>{{admissionApplication?.removeComment}}</span>
            </div>
            <div layout="row" class="pad-bottom">
                <span flex="15">Semester</span> <span>{{admissionApplication?.ordinal}}</span>
            </div> -->
        </div>
      </md-tab>
      <md-tab label="Student Information">
        <div layout="column" class="inset">
          <div layout="row" class="pad-bottom">
            <span flex="15">Name</span> <span>{{admissionApplication?.student?.name}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="15">Identity No</span> <span>{{admissionApplication?.student?.identityNo}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="15">Email</span> <span>{{admissionApplication?.student?.email}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="15">Phone</span> <span>{{admissionApplication?.student?.phone}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="15">Mobile</span> <span>{{admissionApplication?.student?.mobile}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="15">Cohort</span> <span>{{admissionApplication?.student?.cohort?.code}}</span>
          </div>
        </div>
      </md-tab>

      <md-tab label="Study Center Information">
        <div layout="column" class="inset">
          <div layout="row" class="pad-bottom">
            <span flex="15">Name</span> <span>{{admissionApplication?.studyCenter?.code}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="15">Identity No</span> <span>{{admissionApplication?.studyCenter?.description}}</span>
          </div>
        </div>
      </md-tab>

      <md-tab label="Advisor Information">
        <div layout="column" class="inset">
          <div layout="row" class="pad-bottom">
            <span flex="15">Name</span> <span>{{admissionApplication?.advisor?.name}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="15">Identity No</span> <span>{{admissionApplication?.advisor?.identityNo}}</span>
          </div>
          <div layout="row" class="pad-bottom">
            <span flex="15">Email</span> <span>{{admissionApplication?.advisor?.email}}</span>
          </div>
          <!-- <div layout="row" class="pad-bottom">
                <span flex="15">Phone</span> <span>{{admissionApplication?.advisor?.phone}}</span>
            </div>
            <div layout="row" class="pad-bottom">
                <span flex="15">Mobile</span> <span>{{admissionApplication?.advisor?.mobile}}</span>
            </div> -->

        </div>
      </md-tab>

    </md-tab-group>
  </md-card-content>
</md-card>





