<md-card class="bgc-green-600" flex>
  <md-card-content
    class="text-center">
    <div class="md-display-1">COMPLETED</div>
    <div layout="column" layout-padding>
      <div class="md-subhead tc-grey-100">Status</div>

    </div>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>Term Menu</md-card-title>
  <md-card-subtitle>Go to previous menu
  </md-card-subtitle>
  <md-divider></md-divider>

  <md-nav-list flex dense>
    <md-list-item [routerLink]="['/secure/term/admission-applications/admission-application-center2']">
      <md-icon md-list-avatar>menu</md-icon>
      <h4 md-line>Semester Registrations</h4>
      <p md-line>Watch this semester registrations</p>
    </md-list-item>

    <md-list-item [routerLink]="['/secure/term/enrollment-applications/student-enrollment-center']">
      <md-icon md-list-avatar>menu</md-icon>
      <h4 md-line>Course Enrollments</h4>
      <p md-line>Watch this course enrollments</p>
    </md-list-item>

    <md-list-item [routerLink]="['/secure/term/offerings/student-offering-center']">
      <md-icon md-list-avatar>menu</md-icon>
      <h4 md-line>Offerings</h4>
      <p md-line>Watch this offerings</p>
    </md-list-item>

    <md-divider></md-divider>

  </md-nav-list>
</md-card>
