<td-layout-nav toolbarTitle="Graduation Center">
  <td-layout-manage-list #list title="Manage" logo="path/to/toolbar-logo.svg">
    <md-nav-list list-items dense>
      <h3 md-subheader>Graduation</h3>
      <a md-list-item [routerLink]="['/secure/graduation/graduation-applications']">
        <md-icon>label</md-icon>
        Graduation Applications
      </a>
       <a md-list-item [routerLink]="['/secure/graduation/graduation-application-lists']">
        <md-icon>label</md-icon>
        List of graduation applications
      </a>
       <a md-list-item [routerLink]="['/secure/graduation/graduation-lists']">
        <md-icon>label</md-icon>
        List of graduations
      </a>
    </md-nav-list>
    <div toolbar-buttons layout="row" layout-align="start center" flex>
      <span flex>Graduation Center</span>
       {{today | date:'medium'}}
     </div>
     <md-card class="">
      <md-card-title align="left">
      </md-card-title>
      <md-card-subtitle></md-card-subtitle>
      <md-divider></md-divider>
      <div align="center">
        <img src=".\..\assets\img\umk1.jpg" width="80%" height="50%"/>
      </div>
      <md-divider></md-divider>
    </md-card>

  </td-layout-manage-list>
</td-layout-nav>
