<md-card>
  <md-card-title>Action</md-card-title>
  <md-card-subtitle>Actions available on current section</md-card-subtitle>
  <md-divider></md-divider>

  <md-nav-list flex dense>

    <md-list-item (click)="updateDialog()">
      <md-icon md-list-avatar>done_all</md-icon>
      <h4 md-line>Edit Section {{section?.code}} </h4>
      <p md-line>Edit this section </p>
    </md-list-item>
    <md-list-item [routerLink]="['/term/offerings']">
      <md-icon md-list-avatar>done_all</md-icon>
      <h4 md-line>Create Offering</h4>
      <p md-line>Create new offering </p>
    </md-list-item>
    <md-divider></md-divider>
  </md-nav-list>
</md-card>
