<md-card>
  <md-card-title>SECTION</md-card-title>
  <md-card-subtitle>Section Information for {{section.id}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <!--Tab Section Here-->
    <md-tab-group>
      <md-tab label="Section Detail"><br>
        <div>Section Code : {{section.id}}</div>
        <br>
        <div>Section CanonicalCode :  {{section.id}}</div>
        <br>
        
           
      </md-tab>

      <md-tab label="Course Information">
        
        <div>test</div>
        <br>
       
      </md-tab>
      
       <md-tab label="Program Information">
       
         <div>test</div>
        <br>
       
      </md-tab>

    </md-tab-group>

  </md-card-content>
  <md-card-actions layout-align="end center">
    <button md-button color="accent" class="text-upper">UPDATE</button>
  </md-card-actions>
</md-card>



