<md-card>
  <md-card-title>SECTION</md-card-title>
  <md-card-subtitle>Offering Information </md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <!--Tab Section Here-->
    <md-tab-group>
      <md-tab label="Section Detail"><br>
        
        <div>Section Code : {{section.code}}</div>
        <br>
        <div>Section Capacity : {{section.capacity}} </div>
         <br>
        <div>Section canonicalCode  : {{section.canonicalCode}}</div>
        <br>
        <div>Section ordinal : {{section.ordinal}}</div>
        <br>
                 
      
      </md-tab>

      <md-tab label="Course Information">
        
        <div>Code : {{section.offering.course.code}}</div>
        <br>
         <div>Title : {{section.offering.course.titleMs}}</div>
        <br>
         <div>Credit : {{section.offering.course.credit}}</div>
        <br>
        
        
        
      </md-tab>
      
       <md-tab label="Program Information">
       
         <div>Code : {{section.offering.program.code}}</div>
        <br>
         <div>Title : {{section.offering.program.titleMs}}</div>
        <br>
         <div>Status : {{section.offering.program.status}}</div>
        <br>
        <div>Faculty : {{section.offering.program.faculty.name}}</div>
        <br>
        <div>Faculty Desc. : {{section.offering.program.faculty.description}}</div>
        <br>
       
        
         
      </md-tab>

    </md-tab-group>

  </md-card-content>
 
</md-card>



