<md-card>
  <div toolbar-buttons layout="row" layout-align="start center" flex>
    <md-card-title>Enrollments</md-card-title>
    <md-chip-list *ngIf="enrollments?.length > 0">
      <md-chip color="accent">{{enrollments?.length}}</md-chip>
    </md-chip-list>
    <span flex></span>
   <!--  <button md-button class="md-icon-button" [routerLink]="['/term/enrollment-applications']"
            mdTooltip="Add new enrollment">
      <md-icon class="md-24 tc-grey-700">add</md-icon>
    </button> -->
  </div>
  <md-divider></md-divider>
  <md-card-content>
    <td-data-table
      [data]="enrollments"
      [columns]="columns"
      [sortBy]="summary"
      [sortOrder]="ASC"
      [sortable]="false"
      [multiple]="true"
      [selectable]="true" dense>
      <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
        <div layout="row">
          <span flex>{{value}}</span>
        </div>
      </template>
      <!-- <template tdDataTableTemplate="action" let-value="value" let-row="row"
                let-column="column">
        <div layout="row">
          <button md-icon-button [md-menu-trigger-for]="menu1" mdTooltip="Select enrollment actions">
            <md-icon>more_vert</md-icon>
          </button>
          <md-menu x-position="before" #menu1="mdMenu">
            <button md-menu-item [routerLink]="['/term/enrollments', row['id']]">View enrollment</button>
            <button md-menu-item (click)="editDialog(row, true)">Update enrollment</button>

          </md-menu>
        </div>
      </template> -->
      
      <template tdDataTableTemplate="action" let-value="value" let-row="row"  let-column="column">
  <div layout="row" mdTooltip="View this gradebook details">
  <a md-button color="accent" class="text-upper"
    [routerLink]="['/term/enrollments', row['id']]"> <span>View Gradebook</span>
  </a>
</div>
</template>

    </td-data-table>
  </md-card-content>
</md-card>