<!-- Basic Card -->
<md-card>
  <md-card-title>Student Personal Info</md-card-title>
  <md-card-subtitle>Student's information center</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <!--Tab Section Here-->
    <md-tab-group>

      <!--MULA TAB STUDENT INFORMATION-->
      <md-tab label="Student Information">
        <br/>
        <!--STUDENT INFORMATION-->
        <md-card>
          <div md-content flex md-scroll-y>
            <div layout="column" layout-gt-md="row" class="insert">
              <div flex-gt-md="50">
                <md-card-title>Student Information</md-card-title>
              </div>
              <div flex-gt-md="50" align="right">
                <button md-icon-button [md-menu-trigger-for]="menu1">
                  <md-icon>more_vert</md-icon>
                </button>
                <md-menu x-position="before" #menu1="mdMenu" mdTooltip="Select student info actions">
                  <button md-menu-item (click)="editStudent()">Edit</button>
                </md-menu>
              </div>

            </div>
          </div>
          <md-divider></md-divider>
          <md-card-content>

            <div layout="column" layout-gt-md="row" class="insert">
              <div flex-gt-md="20">
                <img src="http://localhost:4200/assets/ico/student/{{student.identityNo}}.jpg" width="120" height="150">
              </div>


              <div flex-gt-md="40">
                <b>Student ID</b> : {{student.identityNo}}<br/><br/>
                <b>Semester Intake</b> : {{student.cohort?.academicSession.semester}}<br/><br/>
                <b>Name</b> : {{student.name}}<br/><br/>
                <b>Email</b> : {{student.email}}<br/><br/>
                <b>Phone</b> : {{student.phone}}<br/><br/>
                <b>Mobile</b> : {{student.mobile}}
              </div>

              <div flex-gt-md="40">
                <b>Status</b> : {{student.studentStatus}}<br/><br/>
                <b>Study Mode</b> : {{student.studyMode?.description}}<br/><br/>
                <b>Cohort</b> : {{student.cohort?.code}}<br/><br/>
                <b>Program</b> : {{student.cohort?.program?.titleMs | uppercase}}<br/><br/>
                <b>Faculty</b> : {{student.cohort?.program?.faculty?.description}}<br/><br/>
              </div>

            </div>

            <br/><br/><br/>

            <!--TAB OTHERS INFORMATION-->
            <md-tab-group>
              <md-tab label="Address">
                <!--ADDRESS INFORMATION-->
                <md-card>
                  <div md-content flex md-scroll-y>
                    <div layout="column" layout-gt-md="row" class="insert">

                      <div flex-gt-md="50">
                        <md-card-title>Address Information</md-card-title>
                      </div>

                      <div flex-gt-md="50" align="right">
                        <button md-icon-button (click)="addAddressDialog(save)">
                          <md-icon>add</md-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                  <md-divider></md-divider>
                  <md-card-content>

                    <td-data-table [data]="addressess" [columns]="columnAddr" [sortBy]="summary" [sortOrder]="ASC"
                                   [sortable]="false" [multiple]="false"
                                   [selectable]="false" (rowSelect)="edit.emit($event)" dense>

                      <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
                        <div layout="row">
                          <span flex>{{value | uppercase}}</span>
                        </div>
                      </template>

                      <template tdDataTableTemplate="action" let-value="value" let-row="row" let-column="column">
                        <div layout="row">
                          <button md-icon-button [md-menu-trigger-for]="menuAddress">
                            <md-icon>more_vert</md-icon>
                          </button>
                          <md-menu x-position="before" #menuAddress="mdMenu">
                            <button md-menu-item (click)="editAddressDialog(row, true)">Update address</button>
                            <button md-menu-item (click)="deleteAddress(row, true)">Delete address</button>
                          </md-menu>
                        </div>
                      </template>

                    </td-data-table>

                  </md-card-content>
                </md-card>
              </md-tab>
              <md-tab label="Guarantor">
                <!--GUARANTOR INFORMATION-->
                <md-card>
                  <div md-content flex md-scroll-y>
                    <div layout="column" layout-gt-md="row" class="insert">

                      <div flex-gt-md="50">
                        <md-card-title>Guarantor Information</md-card-title>
                      </div>

                      <div flex-gt-md="50" align="right">
                        <button md-icon-button (click)="addGuarantorDialog(save)">
                          <md-icon>add</md-icon>
                        </button>
                      </div>

                    </div>
                  </div>
                  <md-divider></md-divider>
                  <md-card-content>
                    <td-data-table [data]="guarantors" [columns]="columnGuarantor" [sortBy]="summary" [sortOrder]="ASC"
                                   [sortable]="false" [multiple]="false"
                                   [selectable]="false" (rowSelect)="edit.emit($event)" dense>

                      <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
                        <div layout="row">
                          <span flex>{{value | uppercase}}</span>
                        </div>
                      </template>

                      <template tdDataTableTemplate="action" let-value="value" let-row="row" let-column="column">
                        <div layout="row">
                          <button md-icon-button [md-menu-trigger-for]="menuGuarantor">
                            <md-icon>more_vert</md-icon>
                          </button>
                          <md-menu x-position="before" #menuGuarantor="mdMenu">
                            <button md-menu-item (click)="editGuarantorDialog(row, true)">Update Guarantor</button>
                            <button md-menu-item (click)="deleteGuarantor(row, true)">Delete Guarantor</button>
                          </md-menu>
                        </div>
                      </template>

                    </td-data-table>
                  </md-card-content>
                </md-card>
              </md-tab>
              <md-tab label="Guardian">
                <!--GUARDIAN INFORMATION-->
                <md-card>
                  <div md-content flex md-scroll-y>
                    <div layout="column" layout-gt-md="row" class="insert">

                      <div flex-gt-md="50">
                        <md-card-title>Guardian Information</md-card-title>
                      </div>

                      <div flex-gt-md="50" align="right">
                        <button md-icon-button (click)="addGuardianDialog(save)">
                          <md-icon>add</md-icon>
                        </button>
                      </div>

                    </div>
                  </div>
                  <md-divider></md-divider>
                  <md-card-content>
                    <td-data-table [data]="guardians" [columns]="columnGuardian" [sortBy]="summary" [sortOrder]="ASC"
                                   [sortable]="false" [multiple]="false"
                                   [selectable]="false" (rowSelect)="edit.emit($event)" dense>

                      <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
                        <div layout="row">
                          <span flex>{{value | uppercase}}</span>
                        </div>
                      </template>

                      <template tdDataTableTemplate="action" let-value="value" let-row="row" let-column="column">
                        <div layout="row">
                          <button md-icon-button [md-menu-trigger-for]="menuGuardian">
                            <md-icon>more_vert</md-icon>
                          </button>
                          <md-menu x-position="before" #menuGuardian="mdMenu">
                            <button md-menu-item (click)="editGuardianDialog(row, true)">Update Guardian</button>
                            <button md-menu-item (click)="deleteGuardian(row, true)">Delete Guardian</button>
                          </md-menu>
                        </div>
                      </template>
                    </td-data-table>
                  </md-card-content>
                </md-card>
              </md-tab>
              <md-tab label="Contact">
                <!--CONTACT INFORMATION-->
                <md-card>
                  <div md-content flex md-scroll-y>
                    <div layout="column" layout-gt-md="row" class="insert">

                      <div flex-gt-md="50">
                        <md-card-title>Contact Information</md-card-title>
                      </div>

                      <div flex-gt-md="50" align="right">
                        <button md-icon-button (click)="addContactDialog(save)">
                          <md-icon>add</md-icon>
                        </button>
                      </div>

                    </div>
                  </div>
                  <md-divider></md-divider>
                  <md-card-content>
                    <td-data-table [data]="contacts" [columns]="columnContact" [sortBy]="summary" [sortOrder]="ASC"
                                   [sortable]="false" [multiple]="false"
                                   [selectable]="false" (rowSelect)="edit.emit($event)" dense>

                      <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
                        <div layout="row">
                          <span flex>{{value | uppercase}}</span>
                        </div>
                      </template>

                      <template tdDataTableTemplate="action" let-value="value" let-row="row" let-column="column">
                        <div layout="row">
                          <button md-icon-button [md-menu-trigger-for]="menuContact">
                            <md-icon>more_vert</md-icon>
                          </button>
                          <md-menu x-position="before" #menuContact="mdMenu">
                            <button md-menu-item (click)="editContactDialog(row, true)">Update Contact</button>
                            <button md-menu-item (click)="deleteContact(row, true)">Delete Contact</button>
                          </md-menu>
                        </div>
                      </template>
                    </td-data-table>
                  </md-card-content>
                </md-card>
              </md-tab>
            </md-tab-group>

          </md-card-content>
        </md-card>
      </md-tab>

      <!--MULA TAB COURSE INFORMATION-->
      <md-tab label="Cohort Information">
        <pams-profile-cohort [cohort]="student.cohort">
        </pams-profile-cohort>
      </md-tab>
      <md-tab label="Course Information">
        <pams-profile-enrollment-list [enrollments]="enrollments">
        </pams-profile-enrollment-list>
      </md-tab>
      
       <md-tab label="Admission Information">
        <pams-profile-admission-list [admissions]="admissions">
        </pams-profile-admission-list>
      </md-tab>
      
    </md-tab-group>

  </md-card-content>
  <md-divider></md-divider>
</md-card>
