<!--COURSE INFORMATION-->
<md-card>
  <div md-content flex md-scroll-y>
    <div layout="column" layout-gt-md="row" class="insert">

      <div flex-gt-md="50">
        <md-card-title>Course Information</md-card-title>
      </div>

      <!--<div flex-gt-md="50" align="right">
        <button md-icon-button [md-menu-trigger-for]="menu">
          <md-icon>more_vert</md-icon>
        </button>
        <md-menu x-position="before" #menu="mdMenu">
          <button md-menu-item (click)="editDialog(row)">Edit</button>
        </md-menu>
      </div>-->

    </div>
  </div>
  <md-divider></md-divider>
  <!-- <md-card-content *ngFor="let enrollment of enrollments">
    <div layout="column" layout-gt-md="row" class="insert">
      <div flex-gt-md="50">
        <b>Course Code</b><br/>{{enrollment?.section?.offering?.code}}
      </div>
      <div flex-gt-md="50">
        <b>Course Title</b><br/>{{enrollment?.section?.offering?.titleEn}}
      </div>
      <div flex-gt-md="50">
        <b>Section</b><br/>{{enrollment?.section?.ordinal}}
      </div>
    </div>
  </md-card-content> -->
  <md-card-content>
    <td-data-table 
    [data]="enrollments" 
    [columns]="columns" 
    [sortBy]="summary" 
    [sortOrder]="ASC" 
    [sortable]="false" 
    [multiple]="false"
    [selectable]="false" 
    (rowSelect)="edit.emit($event)" dense>

      <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
        <div layout="row">
          <span flex>{{value}}</span>
        </div>
      </template>

      <!-- <template tdDataTableTemplate="action" let-value="value" let-row="row" let-column="column">
        <div layout="row">
          <button md-icon-button [md-menu-trigger-for]="menuAddress">
                            <md-icon>more_vert</md-icon>
                          </button>
          <md-menu x-position="before" #menuAddress="mdMenu">
            <button md-menu-item (click)="editAddressDialog(row, true)">Update</button>
            <button md-menu-item (click)="deleteAddress(row, true)">Delete</button>
          </md-menu>
        </div>
      </template> -->

    </td-data-table>
   </md-card-content>
</md-card>