<md-card>
  <md-card-title>Action</md-card-title>
  <md-card-subtitle>Actions available on current account</md-card-subtitle>
  <md-divider></md-divider>
  <md-nav-list flex dense>
    <md-divider></md-divider>
    <md-list-item (click)="showTransferDialog()">
      <md-icon md-list-avatar>cached</md-icon>
      <h4 md-line>Transfer Cohort</h4>
      <p md-line>Transfer to a different cohort</p>
    </md-list-item>
    <md-list-item (click)="showSwitchDialog()">
      <md-icon md-list-avatar>transform</md-icon>
      <h4 md-line>Switch Mode</h4>
      <p md-line>Switch study mode</p>
    </md-list-item>
    <md-list-item (click)="studentStatusDialog()">
      <md-icon md-list-avatar>shuffle</md-icon>
      <h4 md-line>Switch Student Status</h4>
      <p md-line>Switch Student Status</p>
    </md-list-item>
    <md-divider></md-divider>
  </md-nav-list>
</md-card>
