<md-card>
  <md-card-title>Action</md-card-title>
  <md-card-subtitle>Actions available on current account</md-card-subtitle>
  <md-divider></md-divider>
  <md-nav-list flex dense>
    <md-divider></md-divider>
    <md-list-item (click)="showTransferDialog()">
      <md-icon md-list-avatar>cached</md-icon>
      <h4 md-line>Transfer Cohort</h4>
      <p md-line>Transfer to a different cohort</p>
    </md-list-item>
    <md-list-item (click)="showSwitchDialog()">
      <md-icon md-list-avatar>transform</md-icon>
      <h4 md-line>Switch Mode</h4>
      <p md-line>Switch study mode</p>
    </md-list-item>
    <md-list-item (click)="studentStatusDialog()">
      <md-icon md-list-avatar>shuffle</md-icon>
      <h4 md-line>Switch Student Status</h4>
      <p md-line>Switch Student Status</p>
    </md-list-item>
    <md-list-item (click)="addMinAmountDialog()">
      <md-icon md-list-avatar>shuffle</md-icon>
      <h4 md-line>Add Min Amount</h4>
      <p md-line>Add Minimal Amount Payments</p>
    </md-list-item>
    <md-divider></md-divider>
  </md-nav-list>
  
   <md-nav-list flex dense *ngIf="student.cohort.program.faculty.name != 'MGSEB'">
    <md-divider></md-divider>
    <md-list-item (click)="downloadReport('Ad_STD_303.jrxml&report.pdf',student)" >
      <md-icon md-list-avatar>description</md-icon>
      <h4 md-line>Print Student Details Info</h4>
      <p md-line>Print student detail information ({{student.cohort.program.faculty.name}}) </p>
    </md-list-item>
   
    <md-divider></md-divider>
  </md-nav-list>
  
   <md-nav-list flex dense *ngIf="student.cohort.program.faculty.name == 'MGSEB'">
    <md-divider></md-divider>
    <md-list-item (click)="downloadReport('Ad_STD_301.jrxml&report.pdf',student)" >
      <md-icon md-list-avatar>description</md-icon>
      <h4 md-line>Print Student Details Info</h4>
      <p md-line>Print student detail information ({{student.cohort.program.faculty.name}}) </p>
    </md-list-item>
   
    <md-divider></md-divider>
  </md-nav-list>
  
   <md-nav-list flex dense *ngIf="student.studentStatus == 'GRADUATED'" >
    <md-divider></md-divider>
    <md-list-item (click)="downloadReport('Ad_TERM_216.jrxml&report.pdf',student)" >
      <md-icon md-list-avatar>description</md-icon>
      <h4 md-line>Print Transcript Convocation UMK</h4>
      <p md-line>Print official transcript</p>
    </md-list-item>
   
    <md-divider></md-divider>
  </md-nav-list>
  
</md-card>